// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

// =fira
// 	font-family: 'Fira Sans', sans-serif
// 	-webkit-font-smoothing: antialiased
// 	-moz-osx-font-smoothing: grayscale


+font(avantgardegothiccbold, avantgardegothiccbold)

=avant
	font-family: 'avantgardegothiccbold', Arial, sans-serif
=osl
	font-family: 'Open Sans', Arial, sans-serif
	font-weight: 300
=os
	font-family: 'Open Sans', Arial, sans-serif
	font-weight: 400
=ossb
	font-family: 'Open Sans', Arial, sans-serif
	font-weight: 600
=osb
	font-family: 'Open Sans', Arial, sans-serif
	font-weight: 700

$purpur: #eb6c96
$blue: #52abf0
$blued: #388ac9
$n: transparent
$black: #23252a


html, body
	height: 100%
body
	font-size: 16px
	line-height: 1.5
	background-color: #F3F5F7
	width: 100%
	// min-width: 300px

.container__big
	width: 90%
	max-width: 1792px
	margin: 0 auto
	+clr
.container
	width: 76.6%
	max-width: 1974px
	margin: 0 auto
	+clr
	// +r(650)
	+r(1860)//&&&
		width: 90%
	+r(750)
		margin-top: 30px


.container__half
	position: relative
	width: 49%
	background-color: #FFF
	padding: 30px 45px
	margin-top: 15px
	+clr
	p
		font-size: 18px
		color: $black
		+osl




*
	outline: none
	+selection
		background-color: yellow
		color: $blue

a
	text-decoration: none

.out
	min-height: 100%
	height: auto
	padding-top: 0


// popup

.popup
	+coverdiv
	position: fixed
	background-color: rgba(0, 0, 0, .6)
	z-index: 1000
	display: none
	&.is_active
		display: block

.popup__filter
	position: absolute
	padding-top: 30px
	top: 0
	left: -1500px
	width: 80%
	background-color: #FFF
	z-index: 1500
	+clr
	+tr(.5s)
	&.is_active
		left: 0
		+tr(.5s)
	.title__gang
		margin-left: 20px
	.btn-close
		top: 50px
		right: 20px
