// group .. groups.. stati .. post ..group_category .. calendar .. feadback
.info
	margin-top: 20px
	+clr
.info__link
	display: block
	margin-bottom: 5px
	span
		font-size: 18px
		color: $blue
		+os
	&:hover
		span
			text-decoration: underline
	&:active
		span
			color: #2693BF

.article
	background-color: #fff
	margin-bottom: 13px
	+clr
	.title__main
		margin: 5px 0 15px
.article__container
	padding: 35px 44px
	+box
	+clr
.article__text
	+clr
	p
		font-size: 18px
		color: $black
		+osl
	.article__text_smaller
		font-size: 18px
.article__img
	float: left
	max-width: 100%
	margin: 30px 15px 30px 0
	img
		max-width: 100%
.article__img_text
	margin: 50px 0
	+clr
	img
		float: left
		max-width: 66%
		+r(980)
			max-width: 100%
			width: 100%
	p
		float: right
		width: 22%
		margin-right: 10%
		font-size: 14px
		color: #9195A1
		margin-top: 15px
		+r(980)
			width: 100%
			margin-right: 0
			font-style: italic
.article__list
	margin: 70px 30px 55px 65px
	+r(800)
		margin: 50px 20px 40px 0
	li
		color: $black
		font-size: 18px
		margin-bottom: 7px
		vertical-align: middle
		+osl
		i
			margin-right: 15px
			vertical-align: top
.article__picture
	float: left
	width: 105px
	height: 105px
	margin: 0 30px 10px 0
	+r(500)
		display: none
	img
		max-width: 100%
		vertical-align: top
		-webkit-border-radius: 100%
		border-radius: 100%
.article__footer
	border-top: 1px solid #ecf0f4
	background-color: #FFF
	+clr
	.seller__text
		white-space: nowrap
.article__footer__short
	width: 100%
	border-top: 1px solid #ecf0f4
	background-color: #FFF
	+clr
	.article__rating
		width: 18%
		+r(750)
			width: 33.33%
		&:last-child
			border-right: 1px solid $n
.article__post
	position: relative
	width: 46%
	padding-left: 44px
	height: 100px
	border-right: 1px solid $body
	float: left
	+r(750)
		width: 100%
		float: none
		border-bottom: 1px solid $body
	&_wrap
		position: absolute
		left: 44px
		top: 50%
		+try(-50%)
	p
		font-size: 14px
		color: $gray
		+osl
	a
		font-size: 14px
		color: $blue
		+osl
		&:hover
			color: $purpur
.cow
	.article__name
		+r(750)
			width: 100%
			padding-top: 1px
			border-right: 0
			border-bottom: 1px solid #ecf0f4
			.article__centering
				display: block
				position: static
				margin: 20px 0 0 35px
				top: 0
				left: 0
				transform: translate(0, 0)
	.article__button
		+r(1180)
			width: 24%
		+r(1150)
			width: 20%
			.btn
				padding: 0 15px
		+r(1190)
			display: none
	.article__rating
		+r(1190)
			width: 15%
			&:nth-of-type(3)
				border-right: 0
		+r(750)
			width: 33.2%
			border-bottom: 1px solid #ecf0f4
	.article__tag
		+r(890)
			width: 27%
		+r(790)
			width: 25%
	.seller__text
		white-space: nowrap
		.show460
			color: $blue
	.seller__img:after
		content: none

.comes
	display: none
	+r(880)
		display: block
		position: relative
		margin: 120px 0 10px
	.btn
		+r(650)
			width: 80%
.parag
	background-color: #FFF
	padding: 0 45px 15px
	a
		display: block
		font-size: 15px
		color: $black
		+os
		margin-bottom: 10px
		+tr(.3s)
		&:hover
			color: $purpur

.awry
	.article__name,
	.article__tag
		width: 50%
		height: 75px
		border-bottom: 1px solid #ecf0f4
	.article__tag
		white-space: nowrap
		color: $blue
		border-right: 0
		+r(460)
			display: none
	.article__name
		+r(460)
			width: 100%
	.article__rating
		width: 33.3%
		height: 75px
		border-bottom: 1px solid #ecf0f4
		&:nth-of-type(3)
			border-right: 0
	.article__button
		height: 75px
	.say
		+r(880)
			display: none
	.article__soc
		+r(880)
			width: 25%
			height: 75px
			border-bottom: 1px solid #ecf0f4
			&:nth-of-type(4)
				border-right: 0


.article__name
	float: left
	border-right: 1px solid #ecf0f4
	width: 23%
	min-width: 195px
	height: 100px
	// padding-left: 45px
	+box
.article__tag
	position: relative
	float: left
	height: 100px
	width: 16.5%
	white-space: nowrap
	border-right: 1px solid #ecf0f4
	p
		font-size: 14px
		color: #727376
		+osl

.article__rating
	float: left
	width: 11%
	height: 100px
	white-space: nowrap
	border-right: 1px solid #ecf0f4
	+r(870)
		width: 13%
	&:hover,
	&.is_active
		.icon-star
			+s(icon-star-active)
		.icon-cool
			+s(icon-cool-active)
		.icon-mes
			+s(icon-mes-active)
	span
		display: inline-block
		font-size: 18px
		color: $black
		+os
		vertical-align: top
		margin-left: 8px

.article__button
	float: left
	height: 100px
	width: 25%
	white-space: nowrap
	+r(880)
		width: 100%
		.article__centering
			position: static !important
			top: 0 !important
			left: 0 !important
			transform: translate(0, 0) !important
			margin-left: 20px !important
			margin-top: 20px !important
	p
		font-size: 14px
		+osl
		color: #9fa0a1
	a
		font-size: 14px
		display: block
		color: $blue
		+osl

.group__footer
	border-top: 1px solid #ecf0f4
	background-color: #FFF
	+clr
	// +r(880)
	// 	border-top: 0


	// .article__centering//++++++++
	// 	display: inline-block//++++++++


.say
	float: left
	width: 21%
	height: 100px
	border-right: 1px solid #ecf0f4
	font-size: 14px
	color: $black
	white-space: nowrap
	+os
	p
		font-size: 14px
		color: #727376
		+osl
.article__soc
	width: 10%
	height: 100px
	border-right: 1px solid #ecf0f4
	float: left
	&:hover
		opacity: .7

.group__thame
	width: 39%
	float: left
	height: 100px
	+r(880)
		width: 100%

.group__thame_wrap
	white-space: nowrap
	+clr
	a
		font-size: 14px
		display: inline-block
		color: $blue
		+os
		margin-right: 10px
		padding: 1px 3px
		line-height: 1
		+r(1330)
			margin-right: 5px
		+r(880)
			margin-right: 25px
		+r(440)
			margin-right: 0
		+r(360)
			&:nth-of-type(4n-3)
				display: none

		&:hover
			background-color: #E8ECEF

.pre-comment
	margin: 60px 0 55px
	+clr
	+r(500)
		margin: 30px 0 20px
	h4
		float: left
		font-size: 30px
		color: $black
		white-space: nowrap
		padding-left: 45px
		+osl
		+r(830)
			width: 100%

.pre-comment_btn
	float: right
	white-space: nowrap
	+clr
	+r(830)
		margin-top: 10px
		float: left
	+r(500)
		white-space: normal
	.btn
		margin-left: 10px
		vertical-align: top
		+r(500)
			width: 100%
			margin-top: 5px
			margin-left: 0


.commentar
	position: relative
	padding: 35px 0px 30px 40px
	margin-bottom: 15px
	background-color: #FFF
	+clr
	+r(650)
		padding-left: 15px

.commentar__benefit,
.subcommentar__benefit
	position: absolute
	top: 35px
	right: 35px
	z-index: 10
	+r(800)
		right: 10px
	a
		float: left
		vertical-align: top
	span
		float: left
		margin: 0 10px
		vertical-align: top
		font-size: 15px
		color: #ADAEB3
		+osl


.subcommentar__benefit
	position: absolute
	top: 35px
	right: -80px
	+r(800)
		right: 10px
		top: 20px

.commentarium
	position: relative
	padding-left: 70px
	+clr
	+r(800)
		padding-left: 0px


.commentar__form
	position: relative
	top: -1px
	padding: 0
	margin: 0
	border: 0
	outline: 0
	width: 91%
	textarea
		width: 100%
		height: 203px
		border: 1px solid #e6eaed
		top: 0
		margin-right: 9%
		resize: none
		padding: 10px
		&:hover
			border-color: #c6ccd1
	.btn
		float: right
		margin: 20px 0
.commentar__user
	position: absolute
	top: 0
	left: 0
	width: 45px
	height: 45px
	vertical-align: top
	+r(800)
		position: static !important
		float: left
		margin-right: 10px
		margin-bottom: 10px
	img
		max-width: 100%
		vertical-align: top
		-webkit-border-radius: 100%
		border-radius: 100%
.commentar__item
	float: left
	margin-right: 115px
	vertical-align: top
	+clr
	+r(800)
		margin-right: 10px
.commentar__header
	+clr
.commentar__name
	display: inline-block
	font-size: 14px
	color: $blue
	+os
	&:hover
		color: $blued
.commentar__time
	display: inline-block
	font-size: 14px
	color: #7f8187
	+osl
.commentar__text
	font-size: 18px
	line-height: 28px
	margin: 5px 0
	color: $black
	+osl

.commentar__btn
	a
		font-size: 14px
		color: $blue
		float: left
		margin-right: 15px
		+osl
		&:hover
			color: $blued
	+clr

.subcommentar
	position: relative
	padding: 25px 0 10px 0
	+clr
	+r(800)
		padding-left: 10px

.subcommentar__user
	@extend .commentar__user
	position: absolute
	top: 25px
	left: 0
.subcommentar__item
	margin-left: 70px
	+clr
	+r(800)
		margin-left: 0
		float: left

.commentar__editor
	margin-right: 9%
	border: 1px solid #e6eaed
	+clr
.commentar__centering
	+vcenter
	white-space: nowrap
// 	margin-top: 25px
// 	-webkit-transform: translate(-50%, -50%)
// 	-ms-transform: translate(-50%, -50%)
// 	transform: translate(-50%, -50%)
// 	margin-left: 50%
// 	white-space: nowrap
// 	a
// 		display: block
.commentar__editor_one
	position: relative
	float: left
	height: 50px
	width: 8%
	border-right: 1px solid #e6eaed
	+r(850)
		width: 10%
	+r(777)
		width: 12%
	+r(740)
		width: 20%
		border-right: 0
	a
		vertical-align: middle
		opacity: 0.7
		&:hover
			opacity: 1
.commentar__editor_two
	position: relative
	float: left
	width: 16%
	height: 50px
	border-right: 1px solid #e6eaed
	+r(850)
		width: 18%
	+r(777)
		width: 20%
	+r(740)
		width: 40%
	a
		display: inline-block !important
		vertical-align: middle
		opacity: 0.7
		&:hover
			opacity: 1
.commentar__editor_five
	position: relative
	float: left
	height: 50px
	width: 27%
	border-right: 1px solid #e6eaed
	+r(850)
		width: 30%
	+r(777)
		width: 32%
	+r(740)
		width: 80%
	a
		vertical-align: middle
		margin-right: 20px
		display: inline-block
		opacity: 0.7
		&:hover
			opacity: 1
		+r(1420)
			margin-right: 10px
		+r(740)
			margin-right: 20px
		+r(500)
			margin-right: 10px
		&:last-child
			margin-right: 0

.state
	.article__name
		width: 28%
		+r(750)
			width: 100%
			height: 35px
			border-right: 0
		p
			font-size: 14px
			color: #9FA0A1
			+osl
	.article__rating
		width: 17%
		+r(1350)
			width: 15%
		+r(1070)
			width: 14%
		+r(750)
			width: 33.3%
			border-right: 0
	.article__button
		width: 21%
		+r(1350)
			width: 26%
		+r(1070)
			width: 27%
		+r(750)
			display: none
.state
	.article__button
		.article__centering
			position: absolute !important
			top: 50% !important
			left: 50% !important
			-webkit-transform: translate(-50%, -50%) !important
			-ms-transform: translate(-50%, -50%) !important
			transform: translate(-50%, -50%) !important
			margin-top: 0 !important
			margin-left: 0 !important

.article__photo
	display: none
	background-color: #FFF
	margin-bottom: 20px
	padding: 35px 44px
	+r(1250)
		display: block
	.album
		margin-right: 10px
		&:nth-child(3n)
			margin-right: 10px
.squard
	position: relative
	width: 100%
	background-color: #FFF
	margin-bottom: 15px
	+clr

.squard__left
	display: inline-block
	padding: 30px 80px 30px 40px
	float: left
	width: 75%
	+clr
.squard__group
	height: 100%
	float: left
	width: 37%
	.community
		text-align: left
.squard__img
	float: left
	width: 100px
	height: 100px
	margin-right: 30px
	img
		max-width: 100%
		width: 100%
		vertical-align: top
		-webkit-border-radius: 100%
		border-radius: 100%
.squard__name
	display: inline-block
	font-size: 30px
	color: $black
	+osl
	margin-top: 20px
	&:hover
		color: $blued
.squard__type
	font-size: 16px
	color: #ACB1B7
	+os
	i
		margin-right: 5px

.squard__text
	float: right
	width: 62%
	+clr
	p
		font-size: 16px
		color: #7E8489
		+os
.squard__right
	display: inline-block
	position: absolute
	top: 0
	bottom: 0
	right: 0
	width: 25%
	float: right
	border-left: 1px solid #e6eaed
	+clr
	.sideclear
		height: 100%
		+clr
		.sidehalf
			position: relative
			height: 100%
			margin-bottom: 0
		.center
			+vcenter

.target
	width: 100%
	position: relative
	margin: 70px 0 0
	+clr
	h3
		position: absolute
		top: 0
		left: 0
		max-width: 28%
		color: $black
		font-size: 24px
		+osl
.target__item
	width: 71%
	margin-left: 29%
.target__link
	font-size: 16px
	margin-right: 20px
	+os
	color: $blue
	&:hover
		color: $blued

.gad
	transform: translate(-50%, 0)



.gang
	width: 24%
	float: left
	text-align: left
	margin-right: 1%
	margin-bottom: 10px
	position: relative
	background-color: #FFF
	padding: 30px 0 20px
	-webkit-border-radius: 5px
	border-radius: 5px
	+clr
	+r(1300)
		width: 49%
	+r(650)
		width: 100%
		margin-right: 0
	&:nth-of-type(6)
		margin-right: 0
	.read__more
		margin-left: 40px
		color: $blue
		font-size: 16px
		margin-bottom: 12px
		width: auto !important
		+os
		&:hover
			color: $blued
		span
			vertical-align: top
.gang__header
	position: relative
	border-bottom: 1px solid #eef1f3
	padding-bottom: 20px
	padding: 0 40px 0px
	min-height: 111px

.gang__img
	position: absolute
	top: 0
	left: 35px
	width: 65px
	height: 65px
	+r(1300)
		top: 8px
		left: 67px
	+r(850)
		top: 0
		left: 35px
	img
		max-width: 100%
		vertical-align: top
		-webkit-border-radius: 100%
		border-radius: 100%
.gang__list
	font-size: 0
	padding: 40px 40px 0
	li
		margin-bottom: 25px
	a
		display: inline-block
		color: $black
		font-size: 16px
		+os
		&:hover
			color: $blue
.gang__row
	clear: both
	width: 100%
.gang__row1300
	clear: both
	width: 100%
	display: none
	+r(1300)
		display: block



.tabulashin
	display: none
	+r(850)
		display: block
		height: 50px
	a
		display: inline-block
		font-size: 15px
		line-height: 46px
		color: $black
		+osl
		margin-right: 20px
		&.is_active
			border-bottom: 4px solid $purpur
			+os


.mama
	margin-top: 72px
	+r(850)
		display: none
.mamanay
	display: none
	+r(850)
		position: absolute
		display: block
		top: 80px
		left: 50%
		transform: translateX(-50%)
		z-index: -1

.callendar
	text-align: left
	width: 34%
	float: left
	margin: 35px 25px 25px
	+r(850)
		text-align: center
		width: 80%
		margin: 0 auto
		float: none
		padding-bottom: 30px
	+r(650)
		width: 100%
	.title__gang
		margin-left: 10px
.callendar__list
	font-size: 0
	+clr
	a
		float: left
		width: 12.5%
		height: 60px
		border-right: 1px solid #e7ecf1
		text-align: center
		display: block
		line-height: 60px
		font-size: 18px
		+os
		&:nth-child(9n+8)
			border-right: 0
		&:hover,
		&.is_active
			background-color: #F7F8FA
		&:active
			background-color: #EDF1F5
.calendar__row
	clear: both
	height: 1px
	background-color: #E7ECF1
.year
	text-align: left
	width: 22%
	float: right
	text-align: left
	margin-right: 40px
	margin-top: 35px
	+clr
	+r(850)
		display: none
		width: 80%
		margin: 0 auto
		float: none
		text-align: center
	+r(650)
		width: 100%
	.title__gang
		margin-left: 10px
	a
		float: left
		line-height: 60px
		margin-right: 15px
		margin-bottom: 20px
		width: 60px
		height: 60px
		-webkit-border-radius: 100%
		border-radius: 100%
		border: 1px solid #e7eaef
		text-align: center
		font-size: 18px
		color: $black
		+os
		&:hover
			background-color: #F7F8FA
		&:active
			background-color: #EDF1F5
.callendar__orange
	color: #f4b159
.callendar__blue
	color: $blue
.callendar__fiolet
	color: #eb6c96




// КАрточка товара


.sidebox__delivery
	h6
		font-size: 14px
		color: $black
		line-height: 1.8
		+os
	p,
	li
		position: relative
		font-size: 14px
		color: $black
		+osl
	li
		margin-left: 12px
		&:before
			content: "-"
			position: absolute
			top: 0
			left: -10px


.good__info
	border-bottom: 1px solid #e3e7eb
	margin: 20px 0 40px
	a
		display: inline-block
		margin-right: 45px
		line-height: 50px
		font-size: 16px
		color: $black
		+osl
		&:hover
			color: $purpur
		&.is_active
			position: relative
			&:after
				content: ""
				position: absolute
				bottom: -2px
				left: 0
				right: 0
				width: 100%
				height: 4px
				background-color: $purpur


.view
	width: 46%
	float: left
	position: relative
	border-right: 1px solid #f3f5f7
	padding-bottom: 28px
	+clr
	+r(1130)
		width: 50%
	+r(960)
		width: 100%
		border-right: 0
.view__color
	text-align: left
	margin: 25px 25px 10px
	+clr
	+r(380)
		margin: 25px 10px 10px
.view__color_info
	position: relative
	float: left
	display: block
	height: 40px
	width: 43px
	margin-right: 10px
	padding: 3px 5px
	-webkit-border-radius: 35px
	border-radius: 35px
	border: 1px solid #e1e7ec
	+tr(.5s)
	+clr
	+r(380)
		margin-right: 5px
	&:hover
		.color__text
			color: $purpur
	&.is_active
		width: auto
		.color__text
			display: inline-block
		&:after
			content: ""
			position: absolute
			bottom: -5px
			left: 50%
			margin-left: -5px
			+s(arr)
.color__text
	line-height: 30px
	vertical-align: top
	display: none
	margin: 0 10px
	color: #23252A
	font-size: 12px
	+osl

.view__img
	position: relative
	width: 100%
	min-height: 480px
	padding: 0 25px
	+clr
	img
		max-width: 100%
		+vcenter

.view__preview
	padding: 10px 25px 0
	+clr
.view__preview-img
	float: left
	margin-right: 5px
	width: 65px
	height: 70px
	&.is_active
		border-bottom: 4px solid $purpur
		opacity: 0.5
	img
		max-width: 100%
		max-height: 100%
		vertical-align: top

.controller
	display: none
	+clr
	+r(960)
		display: block
		padding: 50px 40px
		position: relative
		text-align: left
	+r(651)
		padding: 20px

.configure
	width: 54%
	float: right
	+r(1130)
		width: 50%
	+r(960)
		width: 100%
		overflow: hidden
.configure__header
	width: 100%
	height: 70px
	border-bottom: 1px solid #E1E7EC
	+clr
	+r(960)
		background-color: #f3f5f7
		border-right: 0
.configure__header_in
	position: relative
	width: 33%
	float: left
	height: 70px
	border-right: 1px solid #e1e7ec
	+r(960)
		display: none
.configure__header_center
	+vcenter
	width: 100%
.configure__header_has
	width: 80%
	height: 33px
	white-space: nowrap
	span
		display: inline-block
		margin-left: 10px
		line-height: 30px
		font-size: 12px
		color: $black
		vertical-align: top
		+osl
	&.show960
		width: auto
		float: right
		margin: 20px 20px 0
		+r(360)
			margin: 20px 5px 0
.configure__header_rate
	position: relative
	width: 67%
	float: left
	height: 70px
	+clr
	+r(960)
		width: 100%
.configure__header_box
	white-space: nowrap
	+clr
	.stars
		float: left
		margin-left: 20px
		+r(1350)
			margin-left: 10px
	p
		margin-left: 10px
		float: left
		+r(1350)
			margin-left: 0
	.new
		top: 0
		left: auto
		right: 30px

.configure__price
	text-align: left
	height: 135px
	padding-top: 30px
	border-bottom: 1px solid #e1e7ec
	+clr
	+r(960)
		background-color: #f3f5f7
		height: auto
		padding-bottom: 30px
	button
		float: left
		margin-left: 10px
		margin-top: 10px
		background-color: $purpur
		color: #fff
		height: 50px
		-webkit-border-radius: 50px
		border-radius: 50px
		padding: 0 30px
		font-size: 20px
		+osl
		&:hover
			background-color: #df326b
		&:active
			-webkit-box-shadow: 0 0 10px rgba(255, 255, 255, .6) inset
			box-shadow: 0 0 10px rgba(255, 255, 255, .6) inset
		i
			margin-right: 7px

.configure__price_item
	width: 42%
	float: left
	padding-left: 20px
	min-width: 195px
	+clr
	+r(651)
		width: 100%
		float: none
	s
		display: block
		font-size: 20px
		color: #adb1bc
		+osb
		sub
			font-size: 15px
			text-transform: lowercase
			+osl
	strong
		font-size: 40px
		color: $black
		+osb
		+r(651)
			font-size: 50px
		span
			font-size: 32px
			text-transform: lowercase
			+osl
			color: $black
			+r(651)
				font-size: 39px


.configure__check
	height: 110px
	border-bottom: 1px solid #f3f5f7
	+clr
	+r(960)
		background-color: #f3f5f7
.configure__check_item
	height: 110px
	position: relative
	width: 33.2%
	float: left
	position: relative
	border-right: 1px solid #F3F5F7
	&:last-child
		border-right: 0
	&:hover
		span
			text-decoration: underline
.configure__check_center
	+vcenter
	text-align: center
	width: 100%
	i
		display: block
		margin: 0 auto 10px
	span
		font-size: 14px
		color: $blue
		vertical-align: top
		+osl
		+r(380)
			font-size: 12px

.configure__type
	text-align: left
	padding: 46px 30px 40px
	p
		color: #979FA6
		font-size: 16px
		margin-bottom: 10px
		+osl
		span
			color: $black
			margin-left: 5px

.dota
	+r(960)
		width: 100%
	+r(651)
		padding: 20px

.indente
	+r(651)
		+ .btn
			display: block
			float: none !important
			width: 100%
			margin-bottom: 20px

.js_half_more
	+ .read__more
		position: relative
		z-index: 10
		padding-top: 5px
		-webkit-box-shadow: 0 -10px 20px 0 #fff
		box-shadow: 0 -10px 20px 0 #fff
		span
			color: $blue
			font-size: 16px
			margin-left: 10px
			+osl


.show__comment
	padding: 30px
	background-color: #F7F8F9
	margin-bottom: 5px
	.stars
		float: left
		margin-right: 10px
	p
		font-size: 18px
		color: $black
		+osl

.more__comments_get
	display: block
	margin: 30px 0 0px
	text-align: center
	white-space: nowrap
	height: 30px
	span
		display: inline-block
		color: $blue
		font-size: 16px
		vertical-align: top
		+osl
	i
		margin-right: 10px
.function__heder
	width: 50%
	float: right
	position: absolute
	top: 33px
	right: 50px
	border-bottom: 1px solid #f3f5f7
	height: 50px
	+r(1500)
		width: 45%
	+r(1370)
		width: 40%
		min-width: 235px
	+r(1280)
		width: 50%
		float: left
		top: 75px
		right: auto
		left: 40px
		font-size: 16px
	+r(960)
		top: 30px
		left: auto
		right: 20px
	+r(651)
		width: 100%
		float: left
		top: 75px
		right: auto
		left: 20px
		font-size: 16px
	a
		display: inline-block
		line-height: 50px
		position: relative
		font-size: 16px
		margin-right: 15px
		color: $black
		+osl
		+r(1370)
			font-size: 15px
		&:last-child
			margin-right: 0
		&:hover
			color: $blue
		&.is_active::after
			content: ""
			position: absolute
			left: 0
			height: 5px
			width: 100%
			background-color: $purpur
			bottom: -2px

.function__name
	width: 100%
	p
		width: 50%
		float: left
		font-size: 16px
		color: #979FA6
		+osl
		margin-bottom: 10px
		+r(1135)
			width: 100%
			&:nth-child(odd)
				margin-bottom: 0
		+r(960)
			width: 50%
			&:nth-child(odd)
				margin-bottom: 10px
		+r(651)
			width: 100%
			&:nth-child(odd)
				margin-bottom: 0
	.function__get
		float: right
		color: $black

.assessment
	margin-bottom: 10px
	+clr
	+r(650)
		margin-top: 15px
	&__wrap
		width: 47%
		float: left
		margin-right: 4%
		+r(1150)
			width: 60%
		+r(1020)
			width: 100%
		p
			width: 96%
			font-size: 14px
			color: $gray
			+osl
	textarea
		width: 100%
		height: 280px
		padding: 25px
		resize: none
		border: 1px solid $body
		outline: nones
		vertical-align: top
		+placeholder
			font-size: 16px
			color: $black
			+osl
.seller__rate
	width: 49%
	float: right
	+clr
	+r(1150)
		width: 36%
	+r(1020)
		width: 100%
		margin: 20px 0
	p
		font-size: 16px
		color: $gray
		+osl
	.castom__name
		width: 288px
		height: 59px
		border: 1px solid $body
		margin-bottom: 5px
		padding: 0 20px
		font-size: 16px
		+r(1270)
			width: 100%
		+placeholder
			font-size: 16px
			color: $gray
			+osl
	.castom__mail
		width: 370px
		height: 59px
		font-size: 16px
		border: 1px solid $body
		margin-bottom: 20px
		padding: 0 20px
		+r(1270)
			width: 100%
		+placeholder
			font-size: 16px
			color: $gray
			+osl
	.btn
		background-color: $purpur
		color: #fff
		height: 50px
		font-size: 20px
		+tr(.3s)
		&:hover
			color: $purpur
			background-color: #FFF

.alphabet
	p
		font-size: 16px
		color: $black
		margin-bottom: 10px
		+osl
	span
		font-size: 14px
		color: $gray
		text-transform: uppercase
		cursor: pointer
		+os
	strong
		font-size: 14px
		text-transform: uppercase
		color: $black
		+os

.grut
	background-color: #FFF
	+clr
	&__header
		display: table
		table-layout: fixed
		width: 100%
		border-bottom: 1px solid $body
		+r(650)
			display: block
			+clr
		&_price
			display: table-cell
			width: 67%
			vertical-align: top
			padding: 25px 40px
			border-right: 1px solid $body
			+r(650)
				width: 100%
				display: block
				border: none
				padding-bottom: 0
			p
				font-size: 18px
				color: $black
				+osl
			strong
				font-size: 22px
				+ossb
			span
				font-size: 14px
				color: $gray
				+osl
			a
				font-size: 14px
				color: $blue
				+osl
				text-decoration: underline
				&:hover
					color: $purpur
		&_rate
			display: table-cell
			width: 33%
			vertical-align: top
			padding: 25px 40px
			+r(650)
				width: 100%
				display: block
				border: none
				padding-top: 0
			p
				color: $gray
				font-style: 14px
				+osl
			a
				color: $blue
				font-style: 14px
				display: inline
				text-decoration: none
				+osl
				&:hover
					color: $purpur
			.stars
				float: left



.roster
	margin-bottom: 35px
	+clr
	p
		font-size: 18px
		color: $gray
		+osl
	span
		font-size: 18px
		color: $black
		+osl
	&_list
		+clr
	li
		position: relative
		padding-left: 20px
		font-size: 18px
		color: $black
		+osl
		&:before
			content: ""
			position: absolute
			left: 0
			top: 7px
			+s(icon-roster)