.header
	position: relative
	background-color: #FFF
	+clr
.header__top
	position: relative
	height: 100px
.logo
	display: inline-block
	h1,
	h2
		+avant
		color: #f35
		font-size: 27px
		text-transform: lowercase
		color: $blue
		line-height: 100px
		+r(360)
			font-size: 24px
		span
			font-family: Arial, sans-serif
			color: $purpur

.header__top_nav
	display: inline-block
	+vcenter
	z-index: 50
	a,
	.header__top_menu
		display: inline-block
		position: relative
		font-size: 22px
		line-height: 100px
		margin-right: 50px
		padding-left: 60px
		color: #23252A
		+osl
		+tr(.3s)
		&:hover
			color: $purpur
			// i
			// 	opacity: 0.7
		+r(1260)
			margin-right: 30px
			padding-left: 45px
		+r(1150)
			margin-right: 10px
		i
			position: absolute
			top: 25px
			left: 0px
.header__top_menu
	z-index: 200
	&:hover
		color: $purpur
		ul
			display: block
			z-index: 2000
	+r(1260)
		margin-right: 30px
		padding-left: 45px
	+r(1150)
		margin-right: 10px
	i
		position: absolute
		top: -10px
		left: 0px
	ul
		display: none
		position: absolute
		top: 100px
		left: -20px
		width: 394px
		background-color: #fff
		padding: 30px 45px
		z-index: 2000
		box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2)
		li
			float: left
			vertical-align: top
			width: 48%
			margin-right: 2%
			&:nth-child(even)
				margin-right: 0
		a
			display: block
			font-size: 16px
			color: $black
			line-height: 35px
			text-align: left
			margin: 0
			padding: 0
			&:hover
				color: $blue

.header__user
	float: right
	margin-top: 20px
.user__massege
	margin-top: 20px
	+s(message)
	margin-right: 45px
	display: inline-block
	vertical-align: top
	&:hover
		opacity: 0.7
	+r(1150)
		margin-right: 20px
	+r(478)
		display: none!important
.user__bell
	margin-top: 20px
	+s(bell)
	margin-right: 45px
	display: inline-block
	vertical-align: top
	&:hover
		opacity: 0.7
	+r(1150)
		margin-right: 20px
	+r(478)
		display: none!important
.user__menu
	position: relative
	margin-right: 45px
	display: inline-block
	vertical-align: top
	z-index: 200
	&:hover
		.user__list
			display: block
	+r(1150)
		margin-right: 20px
	&:after
		content: ""
		position: absolute
		top: 25px
		right: -15px
		+arr(10, 6, #000, b)
		+r(950)
			display: none
	+r(700)
		margin-top: 7px
		margin-right: 5px
	span
		display: none
		+r(478)
			position: absolute
			display: inline-block
			top: 0
			right: 2px
			padding: 0 7px
			color: #FFF
			text-align: center
			background-color: $purpur
			-webkit-border-radius: 100%
			border-radius: 100%
			+os
			z-index: 5
.user__list
	display: none
	width: 230px
	padding: 15px 0
	position: absolute
	top: 60px
	right: -45px
	background-color: #FFF
	z-index: 200
	-webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2)
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2)
	a
		display: block
		line-height: 35px
		padding: 0 35px
		color: $black
		font-size: 16px
		+os
		+tr(.3s)
		&:hover
			color: $blue

.user__img
	-webkit-border-radius: 100%
	border-radius: 100%
	width: 60px
	height: 60px
	overflow: hidden
	margin-right: 15px
	+r(350)
		width: 50px
		height: 50px
	img
		max-width: 100%
		vertical-align: top


// #######################

.header__bottom
	background-color: #FAFBFC
	+clr
	+r(750)
		display: none
.header__menu
	float: left
	font-size: 0
	+clr
	li
		display: inline-block
		border-bottom: 3px solid $n
		&:hover
			border-bottom: 3px solid $purpur
		&:first-child a
			padding-left: 0
	a
		display: block
		font-size: 16px
		color: $black
		line-height: 65px
		padding: 0 15px
		+os
		+r(900)
			padding: 0 7px


// ##################

.breadcrumbs
	padding-top: 1px
	border-bottom: 1px solid #e8ecf0
	margin-bottom: 50px !important
	+r(750)
		display: none
	a
		display: inline-block
		vertical-align: top
		position: relative
		color: #23252A
		font-size: 14px
		line-height: 65px
		margin-right: 15px
		+osl
		&.is_active
			color: #B1B8BC
		&:hover
			color: $purpur
	.icon-right
		vertical-align: middle
		margin-left: 15px
