
@each $s in icon-ledy,icon-mom,icon-chield,footer-vk,footer-f,icon-menu,icon-right,icon-top,btn-close,bird1,icon-star,icon-post,icon-next,icon-prev,icon-bottom,icon-tel,icon-locate,icon-print,icon-smile,icon-libra,icon-close,icon-face,icon-thame,icon-bot,icon-info,icon-cool,icon-mes,icon-vk,icon-f,icon-tw,icon-g,icon-minus,icon-minus-h,icon-plus,icon-plus-h,icon-code,icon-b,icon-i,icon-u,icon-t,icon-a,icon-link,icon-pic,icon-smilik,icon-abc,icon-ya,icon-eye,icon-info_blue,icon-bot-small,icon-basket
	.#{$s}
		display: inline-block
		+s(#{$s})



.icon-menu
	background-color: $n
	float: right
	vertical-align: middle
	margin-top: 20px
	display: none
	+r(700)
		display: block
	+r(480)
		+s(icon-menu480)
		margin-top: 30px
	&:hover
		opacity: 0.6
.icon-top
	vertical-align: top
.footer-f
	+r(750)
		margin-right: 5px
		+s(footer-f-750)
.footer-vk
	+r(750)
		+s(footer-vk-750)

.icon-i
	margin-top: 4px
.icon-ya
	margin-top: 3px
.icon-u,
.icon-t
	margin-top: 3px
.icon-eye
	vertical-align: middle //state.html

.icon-minus
	&:hover
		+s(icon-minus-h)

.icon-plus
	&:hover
		+s(icon-plus-h)