.baner
	+clr
	&__club
		position: relative
		width: 36%
		float: left
		padding: 5% 4% 7%
		background-color: #38b7ea
		-webkit-border-radius: 5px
		border-radius: 5px
		+box
		p
			color: #fff
			font-size: 36px
			+os
		.mammy
			position: absolute
			bottom: 100px
			right: 60px
	&__comment
		position: relative
		width: 36%
		float: left
		margin: 0 1%
		padding: 5% 4% 7%
		background-color: #FFF
		-webkit-border-radius: 5px
		border-radius: 5px
		text-align: center
		.snake
			position: absolute
			bottom: 30px
			right: 40px
		.baner__user
			position: absolute
			top: -40px
			left: 50%
			transform: translateX(-50%)
			width: 75px
			height: 75px
			-webkit-border-radius: 100%
			border-radius: 100%
			-webkit-border-radius: 100%
			border-radius: 100%
			overflow: hidden
			img
				max-width: 100%
				max-height: 100%
		p,
		strong
			font-size: 16px
			color: $black
			+osl
		strong
			+ossb
	&__statistic
		position: relative
		width: 26%
		float: left
		padding: 5% 4% 7%
		background-color: $purpur
		-webkit-border-radius: 5px
		border-radius: 5px
		text-align: center
		p
			color: #FFF
			font-size: 16px
			+os
		strong
			font-size: 48px
			color: #FFF
			+os
		.chika
			position: relative
			overflow: hidden
			height: 12px
			background-image: url("../img/wave.png")
			background-position: center
			background-repeat: repeat-x
			span
				padding: 0 10px
				font-size: 16px
				text-transform: lowercase
				text-align: center
				background-color: $purpur
				+ossb
				+vcenter

.baner__commiting
	width: 80%
	margin: 30px auto 6px
	p
		line-height: 26px
	a
		font-size: 14px
		line-height: 26px
		color: $blue
		text-decoration: underline
		+osl
		&:hover
			text-decoration: none

.represent
	text-align: center
	+clr
	.btn
		margin: 55px auto 20px