$icons: (0:0)
$icons: map-merge($icons,(aye: (X: -148px, Y:-149px, W: 31px, H: 18px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(bell: (X: -30px, Y:-149px, W: 25px, H: 28px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(bird1: (X: -189px, Y:-134px, W: 12px, H: 7px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(btn-close: (X: -189px, Y:-103px, W: 14px, H: 14px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(check: (X: -189px, Y:-121px, W: 11px, H: 9px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(footer-f-750: (X: 0px, Y:0px, W: 63px, H: 60px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(footer-f: (X: 0px, Y:-118px, W: 28px, H: 27px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(footer-vk-750: (X: -67px, Y:0px, W: 63px, H: 60px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(footer-vk: (X: -32px, Y:-118px, W: 28px, H: 27px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-bottom: (X: -80px, Y:-64px, W: 39px, H: 39px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-chield: (X: 0px, Y:-64px, W: 40px, H: 50px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-ledy: (X: -44px, Y:-64px, W: 32px, H: 50px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-libra: (X: -134px, Y:-86px, W: 31px, H: 26px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-locate: (X: -189px, Y:-78px, W: 15px, H: 21px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-menu: (X: -134px, Y:0px, W: 51px, H: 29px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-mom: (X: -134px, Y:-33px, W: 27px, H: 49px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-next: (X: -156px, Y:-118px, W: 26px, H: 26px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-post: (X: 0px, Y:-182px, W: 25px, H: 11px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-prev: (X: -89px, Y:-149px, W: 26px, H: 26px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-print: (X: -119px, Y:-149px, W: 25px, H: 25px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-right: (X: -59px, Y:-149px, W: 26px, H: 26px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-smile: (X: -64px, Y:-118px, W: 27px, H: 27px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-star: (X: -95px, Y:-118px, W: 27px, H: 26px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-tel: (X: -189px, Y:-31px, W: 21px, H: 20px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-top: (X: -126px, Y:-118px, W: 26px, H: 26px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(lupa: (X: -189px, Y:-55px, W: 19px, H: 19px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(mes: (X: 0px, Y:-149px, W: 26px, H: 29px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(message: (X: -189px, Y:0px, W: 24px, H: 27px, TW: 213px, TH: 193px, IMG: '../img/icons.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
	$icon: map-get($icons, $icon)
	@return map-get($icon, $attr)

@mixin sprite($iconName)
	background-image: url(icon-attr($iconName, IMG))
	width: icon-attr($iconName, W)
	height: icon-attr($iconName, H)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)

@mixin sprite-retina($iconName)
	background-image: url(icon-attr($iconName, IMG))
	$width: icon-attr($iconName, W)
	$height: icon-attr($iconName, H)
	width: $width/2
	height: $height/2
	$x: icon-attr($iconName, X)
	$y: icon-attr($iconName, Y)
	background-position: $x/2 $y/2
	$tw: icon-attr($iconName, TW) 	
	$th: icon-attr($iconName, TH)
	background-size: $tw/2 $th/2  	


@mixin s($i)
	+sprite($i)

@mixin sr($i)
	+sprite-retina($i)	

.i-aye
	display: inline-block
	width: ceil(31px / 2)
	height: ceil(18px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-148px /2) ceil(-149px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-bell
	display: inline-block
	width: ceil(25px / 2)
	height: ceil(28px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-30px /2) ceil(-149px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-bird1
	display: inline-block
	width: ceil(12px / 2)
	height: ceil(7px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-189px /2) ceil(-134px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-btn-close
	display: inline-block
	width: ceil(14px / 2)
	height: ceil(14px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-189px /2) ceil(-103px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-check
	display: inline-block
	width: ceil(11px / 2)
	height: ceil(9px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-189px /2) ceil(-121px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-footer-f-750
	display: inline-block
	width: ceil(63px / 2)
	height: ceil(60px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(0px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-footer-f
	display: inline-block
	width: ceil(28px / 2)
	height: ceil(27px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(-118px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-footer-vk-750
	display: inline-block
	width: ceil(63px / 2)
	height: ceil(60px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-67px /2) ceil(0px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-footer-vk
	display: inline-block
	width: ceil(28px / 2)
	height: ceil(27px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-32px /2) ceil(-118px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-icon-bottom
	display: inline-block
	width: ceil(39px / 2)
	height: ceil(39px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-80px /2) ceil(-64px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-icon-chield
	display: inline-block
	width: ceil(40px / 2)
	height: ceil(50px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(-64px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-icon-ledy
	display: inline-block
	width: ceil(32px / 2)
	height: ceil(50px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-44px /2) ceil(-64px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-icon-libra
	display: inline-block
	width: ceil(31px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-134px /2) ceil(-86px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-icon-locate
	display: inline-block
	width: ceil(15px / 2)
	height: ceil(21px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-189px /2) ceil(-78px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-icon-menu
	display: inline-block
	width: ceil(51px / 2)
	height: ceil(29px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-134px /2) ceil(0px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-icon-mom
	display: inline-block
	width: ceil(27px / 2)
	height: ceil(49px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-134px /2) ceil(-33px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-icon-next
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-156px /2) ceil(-118px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-icon-post
	display: inline-block
	width: ceil(25px / 2)
	height: ceil(11px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(-182px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-icon-prev
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-89px /2) ceil(-149px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-icon-print
	display: inline-block
	width: ceil(25px / 2)
	height: ceil(25px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-119px /2) ceil(-149px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-icon-right
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-59px /2) ceil(-149px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-icon-smile
	display: inline-block
	width: ceil(27px / 2)
	height: ceil(27px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-64px /2) ceil(-118px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-icon-star
	display: inline-block
	width: ceil(27px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-95px /2) ceil(-118px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-icon-tel
	display: inline-block
	width: ceil(21px / 2)
	height: ceil(20px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-189px /2) ceil(-31px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-icon-top
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-126px /2) ceil(-118px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-lupa
	display: inline-block
	width: ceil(19px / 2)
	height: ceil(19px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-189px /2) ceil(-55px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-mes
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(29px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(-149px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)
.i-message
	display: inline-block
	width: ceil(24px / 2)
	height: ceil(27px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-189px /2) ceil(0px / 2)
	background-size: ceil(213px / 2) ceil(193px / 2)





