$icons: (0:0)
$icons: map-merge($icons,(aye: (X: -90px, Y:-85px, W: 31px, H: 18px, TW: 165px, TH: 111px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(bell: (X: -111px, Y:-33px, W: 25px, H: 28px, TW: 165px, TH: 111px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(footer-f: (X: -32px, Y:-54px, W: 28px, H: 27px, TW: 165px, TH: 111px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(footer-vk: (X: 0px, Y:-54px, W: 28px, H: 27px, TW: 165px, TH: 111px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-chield: (X: 0px, Y:0px, W: 40px, H: 50px, TW: 165px, TH: 111px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-ledy: (X: -44px, Y:0px, W: 32px, H: 50px, TW: 165px, TH: 111px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-mom: (X: -80px, Y:0px, W: 27px, H: 49px, TW: 165px, TH: 111px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(lupa: (X: -141px, Y:-31px, W: 19px, H: 19px, TW: 165px, TH: 111px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(mes: (X: -111px, Y:0px, W: 26px, H: 29px, TW: 165px, TH: 111px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(message: (X: -141px, Y:0px, W: 24px, H: 27px, TW: 165px, TH: 111px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(next: (X: 0px, Y:-85px, W: 26px, H: 26px, TW: 165px, TH: 111px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(nextw: (X: -30px, Y:-85px, W: 26px, H: 26px, TW: 165px, TH: 111px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(prev: (X: -60px, Y:-85px, W: 26px, H: 26px, TW: 165px, TH: 111px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(star: (X: -64px, Y:-54px, W: 27px, H: 26px, TW: 165px, TH: 111px, IMG: '../img/icons.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
	$icon: map-get($icons, $icon)
	@return map-get($icon, $attr)

@mixin sprite($iconName)
	background-image: url(icon-attr($iconName, IMG))
	width: icon-attr($iconName, W)
	height: icon-attr($iconName, H)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)

@mixin sprite-retina($iconName)
	background-image: url(icon-attr($iconName, IMG))
	$width: icon-attr($iconName, W)
	$height: icon-attr($iconName, H)
	width: $width/2
	height: $height/2
	$x: icon-attr($iconName, X)
	$y: icon-attr($iconName, Y)
	background-position: $x/2 $y/2
	$tw: icon-attr($iconName, TW) 	
	$th: icon-attr($iconName, TH)
	background-size: $tw/2 $th/2  	


@mixin s($i)
	+sprite($i)

@mixin sr($i)
	+sprite-retina($i)	

.i-aye
	display: inline-block
	width: ceil(31px / 2)
	height: ceil(18px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-90px /2) ceil(-85px / 2)
	background-size: ceil(165px / 2) ceil(111px / 2)
.i-bell
	display: inline-block
	width: ceil(25px / 2)
	height: ceil(28px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-111px /2) ceil(-33px / 2)
	background-size: ceil(165px / 2) ceil(111px / 2)
.i-footer-f
	display: inline-block
	width: ceil(28px / 2)
	height: ceil(27px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-32px /2) ceil(-54px / 2)
	background-size: ceil(165px / 2) ceil(111px / 2)
.i-footer-vk
	display: inline-block
	width: ceil(28px / 2)
	height: ceil(27px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(-54px / 2)
	background-size: ceil(165px / 2) ceil(111px / 2)
.i-icon-chield
	display: inline-block
	width: ceil(40px / 2)
	height: ceil(50px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(0px / 2)
	background-size: ceil(165px / 2) ceil(111px / 2)
.i-icon-ledy
	display: inline-block
	width: ceil(32px / 2)
	height: ceil(50px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-44px /2) ceil(0px / 2)
	background-size: ceil(165px / 2) ceil(111px / 2)
.i-icon-mom
	display: inline-block
	width: ceil(27px / 2)
	height: ceil(49px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-80px /2) ceil(0px / 2)
	background-size: ceil(165px / 2) ceil(111px / 2)
.i-lupa
	display: inline-block
	width: ceil(19px / 2)
	height: ceil(19px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-141px /2) ceil(-31px / 2)
	background-size: ceil(165px / 2) ceil(111px / 2)
.i-mes
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(29px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-111px /2) ceil(0px / 2)
	background-size: ceil(165px / 2) ceil(111px / 2)
.i-message
	display: inline-block
	width: ceil(24px / 2)
	height: ceil(27px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-141px /2) ceil(0px / 2)
	background-size: ceil(165px / 2) ceil(111px / 2)
.i-next
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(-85px / 2)
	background-size: ceil(165px / 2) ceil(111px / 2)
.i-nextw
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-30px /2) ceil(-85px / 2)
	background-size: ceil(165px / 2) ceil(111px / 2)
.i-prev
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-60px /2) ceil(-85px / 2)
	background-size: ceil(165px / 2) ceil(111px / 2)
.i-star
	display: inline-block
	width: ceil(27px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-64px /2) ceil(-54px / 2)
	background-size: ceil(165px / 2) ceil(111px / 2)





