$icons: (0:0)
$icons: map-merge($icons,(arr: (X: -140px, Y:-97px, W: 12px, H: 7px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(aye: (X: -48px, Y:-132px, W: 31px, H: 18px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(bell: (X: -193px, Y:-99px, W: 25px, H: 28px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(bird1: (X: -98px, Y:-72px, W: 12px, H: 7px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(btn-close: (X: -251px, Y:-217px, W: 14px, H: 14px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(check: (X: -223px, Y:-199px, W: 11px, H: 9px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(footer-f-750: (X: -36px, Y:-97px, W: 32px, H: 31px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(footer-f: (X: -159px, Y:-99px, W: 28px, H: 27px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(footer-vk-750: (X: 0px, Y:-97px, W: 32px, H: 31px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(footer-vk: (X: -159px, Y:-68px, W: 28px, H: 27px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-a: (X: -223px, Y:-143px, W: 20px, H: 25px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-abc: (X: -30px, Y:-216px, W: 29px, H: 19px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-b: (X: -251px, Y:-99px, W: 19px, H: 21px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-basket: (X: -251px, Y:-196px, W: 18px, H: 17px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-bot-small: (X: -193px, Y:-131px, W: 26px, H: 26px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-bot: (X: -61px, Y:-185px, W: 26px, H: 26px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-bottom: (X: 0px, Y:-54px, W: 39px, H: 39px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-chield: (X: 0px, Y:0px, W: 40px, H: 50px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-close: (X: -98px, Y:-54px, W: 12px, H: 14px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-code: (X: 0px, Y:-216px, W: 26px, H: 22px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-cool-active: (X: -150px, Y:-185px, W: 27px, H: 23px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-cool: (X: -181px, Y:-185px, W: 27px, H: 23px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-eye: (X: -83px, Y:-132px, W: 31px, H: 18px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-f: (X: -106px, Y:-97px, W: 30px, H: 30px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-face: (X: -44px, Y:0px, W: 36px, H: 46px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-g: (X: -159px, Y:-34px, W: 30px, H: 30px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-i: (X: -251px, Y:-124px, W: 19px, H: 20px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-info: (X: -97px, Y:-155px, W: 26px, H: 26px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-info_blue: (X: -251px, Y:-50px, W: 20px, H: 20px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-ledy: (X: -84px, Y:0px, W: 32px, H: 50px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-libra: (X: 0px, Y:-155px, W: 31px, H: 26px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-link: (X: -148px, Y:-132px, W: 23px, H: 15px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-locate: (X: -251px, Y:-171px, W: 15px, H: 21px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-menu: (X: -43px, Y:-54px, W: 51px, H: 29px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-menu480: (X: -118px, Y:-132px, W: 26px, H: 15px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-mes-active: (X: -193px, Y:-66px, W: 26px, H: 29px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-mes: (X: -193px, Y:0px, W: 26px, H: 29px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-minus-h: (X: -223px, Y:-115px, W: 23px, H: 24px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-minus: (X: -223px, Y:-31px, W: 23px, H: 24px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-mom: (X: -120px, Y:-44px, W: 27px, H: 49px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-next: (X: -91px, Y:-185px, W: 26px, H: 26px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-pic: (X: -193px, Y:-161px, W: 23px, H: 20px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-plus-h: (X: -223px, Y:-59px, W: 23px, H: 24px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-plus: (X: -223px, Y:-87px, W: 23px, H: 24px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-post: (X: -63px, Y:-216px, W: 25px, H: 11px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-prev: (X: -127px, Y:-155px, W: 26px, H: 26px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-print: (X: -121px, Y:-185px, W: 25px, H: 25px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-right: (X: -157px, Y:-155px, W: 26px, H: 26px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-smile: (X: 0px, Y:-185px, W: 27px, H: 27px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-smilik: (X: -223px, Y:-172px, W: 21px, H: 23px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-star-active: (X: -66px, Y:-155px, W: 27px, H: 26px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-star: (X: -35px, Y:-155px, W: 27px, H: 26px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-t: (X: -251px, Y:-74px, W: 19px, H: 21px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-tel: (X: -251px, Y:-26px, W: 21px, H: 20px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-thame: (X: -120px, Y:0px, W: 35px, H: 40px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-top: (X: -31px, Y:-185px, W: 26px, H: 26px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-tw: (X: -72px, Y:-97px, W: 30px, H: 30px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-u: (X: -251px, Y:0px, W: 21px, H: 22px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-vk: (X: -159px, Y:0px, W: 30px, H: 30px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(icon-ya: (X: 0px, Y:-132px, W: 44px, H: 19px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(lupa: (X: -251px, Y:-148px, W: 19px, H: 19px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(mes: (X: -193px, Y:-33px, W: 26px, H: 29px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))
$icons: map-merge($icons,(message: (X: -223px, Y:0px, W: 24px, H: 27px, TW: 272px, TH: 238px, IMG: '../img/icons.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
	$icon: map-get($icons, $icon)
	@return map-get($icon, $attr)

@mixin sprite($iconName)
	background-image: url(icon-attr($iconName, IMG))
	width: icon-attr($iconName, W)
	height: icon-attr($iconName, H)
	background-position: icon-attr($iconName, X) icon-attr($iconName, Y)

@mixin sprite-retina($iconName)
	background-image: url(icon-attr($iconName, IMG))
	$width: icon-attr($iconName, W)
	$height: icon-attr($iconName, H)
	width: $width/2
	height: $height/2
	$x: icon-attr($iconName, X)
	$y: icon-attr($iconName, Y)
	background-position: $x/2 $y/2
	$tw: icon-attr($iconName, TW) 	
	$th: icon-attr($iconName, TH)
	background-size: $tw/2 $th/2  	


@mixin s($i)
	+sprite($i)

@mixin sr($i)
	+sprite-retina($i)	

.i-arr
	display: inline-block
	width: ceil(12px / 2)
	height: ceil(7px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-140px /2) ceil(-97px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-aye
	display: inline-block
	width: ceil(31px / 2)
	height: ceil(18px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-48px /2) ceil(-132px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-bell
	display: inline-block
	width: ceil(25px / 2)
	height: ceil(28px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-193px /2) ceil(-99px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-bird1
	display: inline-block
	width: ceil(12px / 2)
	height: ceil(7px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-98px /2) ceil(-72px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-btn-close
	display: inline-block
	width: ceil(14px / 2)
	height: ceil(14px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-251px /2) ceil(-217px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-check
	display: inline-block
	width: ceil(11px / 2)
	height: ceil(9px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-223px /2) ceil(-199px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-footer-f-750
	display: inline-block
	width: ceil(32px / 2)
	height: ceil(31px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-36px /2) ceil(-97px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-footer-f
	display: inline-block
	width: ceil(28px / 2)
	height: ceil(27px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-159px /2) ceil(-99px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-footer-vk-750
	display: inline-block
	width: ceil(32px / 2)
	height: ceil(31px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(-97px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-footer-vk
	display: inline-block
	width: ceil(28px / 2)
	height: ceil(27px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-159px /2) ceil(-68px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-a
	display: inline-block
	width: ceil(20px / 2)
	height: ceil(25px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-223px /2) ceil(-143px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-abc
	display: inline-block
	width: ceil(29px / 2)
	height: ceil(19px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-30px /2) ceil(-216px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-b
	display: inline-block
	width: ceil(19px / 2)
	height: ceil(21px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-251px /2) ceil(-99px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-basket
	display: inline-block
	width: ceil(18px / 2)
	height: ceil(17px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-251px /2) ceil(-196px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-bot-small
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-193px /2) ceil(-131px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-bot
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-61px /2) ceil(-185px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-bottom
	display: inline-block
	width: ceil(39px / 2)
	height: ceil(39px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(-54px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-chield
	display: inline-block
	width: ceil(40px / 2)
	height: ceil(50px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(0px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-close
	display: inline-block
	width: ceil(12px / 2)
	height: ceil(14px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-98px /2) ceil(-54px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-code
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(22px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(-216px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-cool-active
	display: inline-block
	width: ceil(27px / 2)
	height: ceil(23px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-150px /2) ceil(-185px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-cool
	display: inline-block
	width: ceil(27px / 2)
	height: ceil(23px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-181px /2) ceil(-185px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-eye
	display: inline-block
	width: ceil(31px / 2)
	height: ceil(18px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-83px /2) ceil(-132px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-f
	display: inline-block
	width: ceil(30px / 2)
	height: ceil(30px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-106px /2) ceil(-97px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-face
	display: inline-block
	width: ceil(36px / 2)
	height: ceil(46px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-44px /2) ceil(0px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-g
	display: inline-block
	width: ceil(30px / 2)
	height: ceil(30px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-159px /2) ceil(-34px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-i
	display: inline-block
	width: ceil(19px / 2)
	height: ceil(20px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-251px /2) ceil(-124px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-info
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-97px /2) ceil(-155px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-info_blue
	display: inline-block
	width: ceil(20px / 2)
	height: ceil(20px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-251px /2) ceil(-50px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-ledy
	display: inline-block
	width: ceil(32px / 2)
	height: ceil(50px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-84px /2) ceil(0px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-libra
	display: inline-block
	width: ceil(31px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(-155px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-link
	display: inline-block
	width: ceil(23px / 2)
	height: ceil(15px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-148px /2) ceil(-132px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-locate
	display: inline-block
	width: ceil(15px / 2)
	height: ceil(21px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-251px /2) ceil(-171px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-menu
	display: inline-block
	width: ceil(51px / 2)
	height: ceil(29px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-43px /2) ceil(-54px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-menu480
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(15px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-118px /2) ceil(-132px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-mes-active
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(29px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-193px /2) ceil(-66px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-mes
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(29px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-193px /2) ceil(0px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-minus-h
	display: inline-block
	width: ceil(23px / 2)
	height: ceil(24px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-223px /2) ceil(-115px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-minus
	display: inline-block
	width: ceil(23px / 2)
	height: ceil(24px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-223px /2) ceil(-31px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-mom
	display: inline-block
	width: ceil(27px / 2)
	height: ceil(49px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-120px /2) ceil(-44px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-next
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-91px /2) ceil(-185px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-pic
	display: inline-block
	width: ceil(23px / 2)
	height: ceil(20px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-193px /2) ceil(-161px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-plus-h
	display: inline-block
	width: ceil(23px / 2)
	height: ceil(24px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-223px /2) ceil(-59px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-plus
	display: inline-block
	width: ceil(23px / 2)
	height: ceil(24px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-223px /2) ceil(-87px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-post
	display: inline-block
	width: ceil(25px / 2)
	height: ceil(11px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-63px /2) ceil(-216px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-prev
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-127px /2) ceil(-155px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-print
	display: inline-block
	width: ceil(25px / 2)
	height: ceil(25px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-121px /2) ceil(-185px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-right
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-157px /2) ceil(-155px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-smile
	display: inline-block
	width: ceil(27px / 2)
	height: ceil(27px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(-185px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-smilik
	display: inline-block
	width: ceil(21px / 2)
	height: ceil(23px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-223px /2) ceil(-172px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-star-active
	display: inline-block
	width: ceil(27px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-66px /2) ceil(-155px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-star
	display: inline-block
	width: ceil(27px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-35px /2) ceil(-155px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-t
	display: inline-block
	width: ceil(19px / 2)
	height: ceil(21px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-251px /2) ceil(-74px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-tel
	display: inline-block
	width: ceil(21px / 2)
	height: ceil(20px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-251px /2) ceil(-26px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-thame
	display: inline-block
	width: ceil(35px / 2)
	height: ceil(40px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-120px /2) ceil(0px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-top
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(26px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-31px /2) ceil(-185px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-tw
	display: inline-block
	width: ceil(30px / 2)
	height: ceil(30px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-72px /2) ceil(-97px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-u
	display: inline-block
	width: ceil(21px / 2)
	height: ceil(22px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-251px /2) ceil(0px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-vk
	display: inline-block
	width: ceil(30px / 2)
	height: ceil(30px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-159px /2) ceil(0px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-icon-ya
	display: inline-block
	width: ceil(44px / 2)
	height: ceil(19px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(0px /2) ceil(-132px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-lupa
	display: inline-block
	width: ceil(19px / 2)
	height: ceil(19px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-251px /2) ceil(-148px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-mes
	display: inline-block
	width: ceil(26px / 2)
	height: ceil(29px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-193px /2) ceil(-33px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)
.i-message
	display: inline-block
	width: ceil(24px / 2)
	height: ceil(27px /2)
	background-image: url('../img/icons.png')
	background-position: ceil(-223px /2) ceil(0px / 2)
	background-size: ceil(272px / 2) ceil(238px / 2)





