
.title__14
	font-size: 14px
	+osb
.title__big
	font-size: 36px
	line-height: 1
	color: $black
	margin: 84px 0 75px
	text-align: center
	+os
	+r(660)
		font-size: 28px
		margin: 30px auto
.title__vend
	display: inline-block
	font-size: 30px
	line-height: 1.1
	color: $black
	+osl
	&.pro
		position: relative
		&:after
			content: ""
			position: absolute
			top: 20px
			right: -40px
			+s(icon-pro)
.title__side
	font-size: 30px
	color: $black
	margin-bottom: 25px
	+osl
	+clr
	.btn
		float: right
		+r(1400)
			width: 100%
			margin-top: 15px
			float: none
		+r(1300)
			width: auto
			margin: 0
			float: right
		+r(750)
			margin-top: 15px
			width: 100%
	+r(660)
		line-height: 1
	a
		color: $black
		&:hover
			color: #3478AD
		+r(660)
			font-size: 24px
	.icon-info_blue
		margin-left: 10px
		margin-top: 5px
.tab__title
	display: block
	font-size: 18px
	color: $black
	margin-bottom: 15px
	letter-spacing: -.25px
	+osl
	+tr(.2s)
	i
		margin-right: 15px
		+rotate(90)
		+tr(.2s)
	&.is-open
		+ossb
		i
			+rotate(0)
.title__main
	display: inline-block
	font-size: 36px
	color: $black
	margin: 0 10px 15px 35px
	+os
	&.pro
		position: relative
		&:after
			content: ""
			position: absolute
			top: -5px
			right: -30px
			+s(icon-pro)
	+r(650)
		margin: 0px
		font-size: 28px
		line-height: 1
	a
		color: $black
		&:hover
			color: $blue
.title__gray
	font-size: 14px
	color: #BBC0C5
	+ossb
.title__red
	color: $purpur
	font-size: 16px
	span
		color: $purpur
		font-size: 16px
		line-height: 30px
		vertical-align: top
		+osl
	.icon-info
		margin-right: 15px
		vertical-align: top
.title__gang
	font-size: 24px
	color: $black
	margin-left: 34%
	min-height: 65px
	+osl
	display: inline-block
	margin-top: 43px
	transform: translateY(-50%)
	sup
		font-size: 11px
		color: $purpur
		vertical-align: top
		+ossb
.title__small
	font-size: 20px
	color: $black
	+ossb
.title__function
	+r(1280)
		margin-bottom: 80px
	+r(960)
		margin-bottom: 25px
	+r(651)
		margin-bottom: 80px
.title__article
	font-size: 24px
	color: $black
	margin-bottom: 15px
	+osl
	a
		color: $black
		&:hover
			color: $purpur
