mark
	background-color: #F3F5F7
	text-transform: uppercase
	color: $purpur
	font-size: 12px
	padding: 2px 4px
	+ossb
.clear
	height: 0
	display: table
	clear: both
.col-xl-0
	display: none
.col-xl-4
	width: 25%
	float: left
	padding-right: 10px
	+box
.col-x-0
	+r(950)
		display: none
.col-x-12
	+r(950)
		display: inline-block
.col-m-0
	+r(750)
		display: none
.col-m-1
	+r(750)
		display: block
		width: 100%
.col-m-2
	+r(750)
		display: block
		width: 50%
		float: left
.col1-2
	width: 41%
	p
		font-size: 18px
		color: $black
		+osl
.col-d-1
	+r(850)
		position: relative
		display: block
		width: 100%
		z-index: 5

.map
	height: 330px
	width: 100%
.show__little_clothes
	+clr
	.clothes
		width: 49%
		margin-right: 2%
		&:nth-child(2n)
			margin-right: 0

.poazat650
	display: none
	+r(650)
		display: inline-block
.show460
	display: none
	+r(460)
		display: inline-block
.show650
	+r(650)
		display: block
.show750
	display: none
	+r(750)
		display: block
.show800
	display: none
	+r(800)
		display: block
.show880
	display: none
	+r(880)
		display: block
.show960
	+r(960)
		display: block
.show1015
	+r(1015)
		display: block
.show1250
	+r(1250)
		display: block
.hide650
	+r(650)
		display: none
.hide750
	display: block
	+r(750)
		display: none
.hide800
	display: block
	+r(800)
		display: none
.hide880
	display: block
	+r(880)
		display: none
.hide960
	display: block
	+r(960)
		display: none
.hide1180
	display: block
	+r(1180)
		display: none
.main.rock1180
	+r(1180)
		width: 100%
.hide1250
	+r(1250)
		display: none

.quatanava1250
	+clr
	+r(1250)
		background-color: #FFF
		display: block
		width: 100% !important
		.sidebox,
		.sidebox__short
			width: auto
			float: left
			+r(650)
				width: 100%
.quatanava1015
	+clr
	+r(1015)
		background-color: #FFF
		display: block
		width: 100% !important
		.sidebox
			width: 100%
		.seller
			float: left
			width: 32%
			margin-bottom: 0
			+r(700)
				width: 100%
				margin-bottom: 40px
		.telephone,
		.town
			width: 27%
			float: left
			margin-left: 27px
			+r(700)
				width: 100%
				margin-left: 0
				padding-left: 55px
				i
					left: 0
		.sidebox__short
			width: 50%
			float: left
			+r(650)
				width: 100%
				padding: 25px
.top200
	clear: both
	background-color: $n
	height: 200px
	+r(651)
		height: 80px

.center
	margin: 0 auto
	text-align: center

.get__left
	float: left
.get__right
	float: right

.thematic
	text-align: center
	font-size: 18px
	color: #575C65
	margin-bottom: 45px
	+osl

.comunity_height,
.photo__height
	+ .read__more
		text-align: center
		line-height: 50px
		padding-top: 30px

.js-accordeon-post
	display: none

.main
	width: 75%
	float: left
	+clr
	+r(1485)
		width: 72%
	+r(1350)
		width: 70%
	+r(1240)
		width: 74%
	+r(1175)
		width: 73%
	+r(1130)
		width: calc(100% - 270px)
	+r(1015)
		width: 100%
	.search__blue
		+r(1355)
			float: left
			margin-left: 30px
			width: 100%
			margin-top: 10px
		+r(700)
			width: 100%
			margin: 10px 0 0
	.title__main
		+r(1355)
			width: 95%
		+r(700)
			width: 100%
			margin: 0 0 15px




.search__blue_wrap
	position: relative
	width: 240px
	+clr
	+r(800)
		width: 190px
	&:hover
		.search__field
			width: 240px
			+placeholder
				color: #fff
			+r(800)
				width: 190px
		label
			opacity: 0
			+tr(.3s)
.search__blue
	position: relative
	float: right
	height: 65px
	label
		position: absolute
		left: 10px
		display: inline-block
		font-size: 18px
		color: $black
		line-height: 65px
		margin-right: 30px
		vertical-align: top
		+os
		z-index: 1
		+r(900)
			margin-right: 15px
	.search__field
		position: relative
		float: right
		padding: 0 15px
		vertical-align: top
		margin-top: 18px
		width: 50px
		height: 34px
		background-color: $blue
		-webkit-border-radius: 34px
		border-radius: 34px
		color: #fff
		z-index: 5
		+tr(.5s)
		+placeholder
			color: $n
		+r(650)
			height: 40px
			margin-top: 14px
		&:focus
			width: 240px
			+r(800)
				width: 190px
			+r(650)
				width: 50px
	.btn-search
		position: absolute
		top: 25px
		right: 15px
		+s(lupa)
		background-color: $n
		z-index: 10
		&:hover
			+ input
				width: 200px

.radio
	display: inline-block
	color: #8a93a3
	position: relative
	cursor: pointer
	margin-right: 40px
	&:last-child
		margin-right: 10px
	input
		position: absolute
		left: 0
		top: 4px
		opacity: 0
		z-index: 2
		&:checked
			+ span
				&:before
					background-color: $blue
				&:after
					content: ""
					position: absolute
					left: -33px
					top: 8px
					z-index: 12
					+s(check)
	span
		position: relative
		display: inline-block
		padding-left: 0px
		margin: 0 0 5px 40px
		font-size: 16px
		color: $black
		+osl
		&:before
			content: ""
			position: absolute
			left: -40px
			top: 0
			background-color: #dfe5e7
			width: 24px
			height: 24px
			z-index: 10


.pager
	margin: 120px 0 90px
	+osl
	+clr
	+r(750)
		width: 260px
		margin: 40px auto 25px
.pages__top
	position: relative
	+clr
.page
	display: inline-block
	font-size: 0
	+vcenter
	+clr
	+r(750)
		position: relative
		left: 0
		transform: translate(0, 0)
		float: left
	li
		float: left
		margin-right: -1px
		line-height: 45px
		height: 45px
		border: 1px solid #d8dde2
		-webkit-border-radius: 5px
		border-radius: 5px
	a
		font-size: 18px
		color: $black
		display: block
		padding: 0 15px
		+tr(.3s)
		+r(750)
			padding: 0 13px
		&:hover,
		&.is_active
			color: $purpur
.page__prev,
.page__next
	display: inline-block
	vertical-align: top
	width: 160px
	line-height: 45px
	height: 45px
	padding: 1px 20px 0
	border: 1px solid #d8dde2
	-webkit-border-radius: 5px
	border-radius: 5px
	+box
	+r(750)
		width: 55px
		padding: 1px 15px 0
		span
			display: none
	&:hover
		-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .5) inset
		box-shadow: 0 0 10px rgba(0, 0, 0, .5) inset
	&.no_active
		i
			+gray
		&:hover
			-webkit-box-shadow: none
			box-shadow: none
	span
		float: right
		color: $black
		font-size: 18px
		+osl
	i
		float: left
		margin-top: 8px
.page__prev
	float: left
.page__next
	float: right
.pager__input
	margin: 25px auto 0
	text-align: center
	vertical-align: top
	&_wrap
		display: inline-block
		line-height: 45px
		height: 45px
		padding: 0 20px
		border: 1px solid #d8dde2
		-webkit-border-radius: 5px
		border-radius: 5px
		+box
		i
			float: right
			margin-top: 10px
			+r(750)
				display: none
.page__number
	background-color: $n
	font-size: 16px
	+r(750)
		text-align: center
	+placeholder
		font-size: 14px
		color: $black
		+osl
		+r(750)
			text-align: center
.categories
	width: 100%
	margin: 90px 0
	+clr

.category
	width: 25%
	float: left
	padding-right: 15px
	+box
	+r(900)
		width: 50%
	+r(480)
		width: 100%
	a
		&:hover
			color: $blue
		&.is_active
			color: $blue

.new
	position: absolute
	top: 10px
	left: 8px
	padding: 3px 8px
	background-color: $blue
	font-size: 12px
	color: #FFF
	text-transform: lowercase
	z-index: 1
	-webkit-border-radius: 2px
	border-radius: 2px
	+os

.stars
	position: relative
	width: 90px
	height: 15px
	z-index: 2
	margin-right: 0
	margin-bottom: 15px
	.star
		display: inline-block
		vertical-align: middle
		width: 11px
		height: 11px
		margin-right: 0
	.star_l
		display: block
		float: left
		width: 6px
		height: 11px
		background: url(../img/star_p.png)
		cursor: pointer
		margin-right: 0
	.star_r
		display: block
		float: left
		width: 5px
		height: 11px
		background: url(../img/star_p.png) 100% 0 no-repeat
		cursor: pointer
		margin-right: 0
	.star_l.active
		background: url(../img/star_a.png) 0 0 no-repeat
	.star_r.active
		background: url(../img/star_a.png) 100% 0 no-repeat

.star__big_wrap
	position: relative
	float: left
	width: 250px
	height: 36px
	z-index: 2
	margin: 10px 0 20px
	.star__big
		display: inline-block
		vertical-align: middle
		width: 29px
		height: 28px
		margin-right: 0
	.star__big_l
		display: block
		float: left
		width: 15px
		height: 28px
		background: url(../img/star_big_p.png)
		cursor: pointer
		margin-right: 0
	.star__big_r
		display: block
		float: left
		width: 14px
		height: 28px
		background: url(../img/star_big_p.png) 100% 0 no-repeat
		cursor: pointer
		margin-right: 0
	.star__big_l.active
		background: url(../img/star_big_a.png) 0 0 no-repeat
	.star__big_r.active
		background: url(../img/star_big_a.png) 100% 0 no-repeat

.empty__padding
	display: table
	table-layout: fixed
	padding: 0
	width: 100%
	.input-row__field
		width: 80%
	.filter__cell
		display: table-cell
		border-right: 1px solid $body
		vertical-align: middle
		padding: 30px 0
		&_first
			width: 38%
			padding-left: 40px
		&_second
			width: 41%
			padding-left: 55px
		&_third
			width: 21%
			padding-left: 50px
	.filter__btn_wrap
		float: left




.read__more
	vertical-align: top
	span
		display: inline-block
		font-size: 16px
		margin-right: 12px
		vertical-align: top
		line-height: 28px
		color: $blue
		+os


.say,
.group__thame,
.article__rating,
.article__button,
.article__soc,
.article__tag
	position: relative
	.article__centering
		+vcenter
		margin-top: 0
		margin-left: 0


.first__item
	position: relative
	.article__centering
		position: absolute
		+vcenter
		left: 40px
		transform: translate(0%, -50%)

.white__wrapper
	position: relative
	background-color: #FFF
	padding: 1px
	text-align: center
	-webkit-border-radius: 4px
	border-radius: 4px
	+box
	+clr

.reduce
	width: 24%
	margin-right: 1% !important
	&:last-child
		margin-right: 0 !important
	+r(1150)
		width: 49%
		margin-right: 1% !important
		&:nth-child(even)
			margin-right: 1% !important
	+r(650)
		width: 100%
		margin-right: 0 !important
		&:nth-child(even)
			margin-right: 0 !important