.col-xl-0
	display: none
.col-xl-4
	width: 25%
	float: left
	padding-right: 10px
	+box
.col-x-0
	+r(950)
		display: none
.col-x-12
	+r(950)
		display: inline-block
.col-m-0
	+r(750)
		display: none
.col-m-1
	+r(750)
		display: block
		width: 100%
.col-m-2
	+r(750)
		display: block
		width: 50%
		float: left
.center
	margin: 0 auto
	text-align: center