html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body, html {
  height: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input[type="submit"],
button {
  cursor: pointer;
}
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    -webkit-text-size-adjust: none;
  }
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

.i-aye {
  display: inline-block;
  width: 16px;
  height: 9px;
  background-image: url("../img/icons.png");
  background-position: -43px -74px;
  background-size: 105px 89px;
}

.i-bell {
  display: inline-block;
  width: 13px;
  height: 14px;
  background-image: url("../img/icons.png");
  background-position: -15px -74px;
  background-size: 105px 89px;
}

.i-bird1 {
  display: inline-block;
  width: 6px;
  height: 4px;
  background-image: url("../img/icons.png");
  background-position: -94px -51px;
  background-size: 105px 89px;
}

.i-btn-close {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-image: url("../img/icons.png");
  background-position: -94px -36px;
  background-size: 105px 89px;
}

.i-check {
  display: inline-block;
  width: 6px;
  height: 5px;
  background-image: url("../img/icons.png");
  background-position: -94px -45px;
  background-size: 105px 89px;
}

.i-footer-f-750 {
  display: inline-block;
  width: 32px;
  height: 30px;
  background-image: url("../img/icons.png");
  background-position: 0px 0px;
  background-size: 105px 89px;
}

.i-footer-f {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/icons.png");
  background-position: 0px -59px;
  background-size: 105px 89px;
}

.i-footer-vk-750 {
  display: inline-block;
  width: 32px;
  height: 30px;
  background-image: url("../img/icons.png");
  background-position: -33px 0px;
  background-size: 105px 89px;
}

.i-footer-vk {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/icons.png");
  background-position: -67px -43px;
  background-size: 105px 89px;
}

.i-icon-bottom {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons.png");
  background-position: -40px -32px;
  background-size: 105px 89px;
}

.i-icon-chield {
  display: inline-block;
  width: 20px;
  height: 25px;
  background-image: url("../img/icons.png");
  background-position: 0px -32px;
  background-size: 105px 89px;
}

.i-icon-ledy {
  display: inline-block;
  width: 16px;
  height: 25px;
  background-image: url("../img/icons.png");
  background-position: -22px -32px;
  background-size: 105px 89px;
}

.i-icon-locate {
  display: inline-block;
  width: 8px;
  height: 11px;
  background-image: url("../img/icons.png");
  background-position: -94px -23px;
  background-size: 105px 89px;
}

.i-icon-menu {
  display: inline-block;
  width: 26px;
  height: 15px;
  background-image: url("../img/icons.png");
  background-position: -67px 0px;
  background-size: 105px 89px;
}

.i-icon-mom {
  display: inline-block;
  width: 14px;
  height: 25px;
  background-image: url("../img/icons.png");
  background-position: -67px -16px;
  background-size: 105px 89px;
}

.i-icon-next {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url("../img/icons.png");
  background-position: -61px -59px;
  background-size: 105px 89px;
}

.i-icon-post {
  display: inline-block;
  width: 13px;
  height: 6px;
  background-image: url("../img/icons.png");
  background-position: -61px -74px;
  background-size: 105px 89px;
}

.i-icon-prev {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url("../img/icons.png");
  background-position: -46px -59px;
  background-size: 105px 89px;
}

.i-icon-right {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url("../img/icons.png");
  background-position: -76px -59px;
  background-size: 105px 89px;
}

.i-icon-star {
  display: inline-block;
  width: 14px;
  height: 13px;
  background-image: url("../img/icons.png");
  background-position: -16px -59px;
  background-size: 105px 89px;
}

.i-icon-tel {
  display: inline-block;
  width: 11px;
  height: 10px;
  background-image: url("../img/icons.png");
  background-position: -94px 0px;
  background-size: 105px 89px;
}

.i-icon-top {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url("../img/icons.png");
  background-position: -31px -59px;
  background-size: 105px 89px;
}

.i-lupa {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("../img/icons.png");
  background-position: -94px -12px;
  background-size: 105px 89px;
}

.i-mes {
  display: inline-block;
  width: 13px;
  height: 15px;
  background-image: url("../img/icons.png");
  background-position: 0px -74px;
  background-size: 105px 89px;
}

.i-message {
  display: inline-block;
  width: 12px;
  height: 14px;
  background-image: url("../img/icons.png");
  background-position: -29px -74px;
  background-size: 105px 89px;
}

@font-face {
  font-family: avantgardegothiccbold;
  src: url("fonts/avantgardegothiccbold.eot");
  src: url("fonts/avantgardegothiccbold.eot?#iefix") format("embedded-opentype"), url("fonts/avantgardegothiccbold.woff2") format("woff2"), url("fonts/avantgardegothiccbold.woff") format("woff"), url("fonts/avantgardegothiccbold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #F3F5F7;
  width: 100%;
  min-width: 460px;
}

.container__big {
  width: 90%;
  max-width: 1792px;
  margin: 0 auto;
  *zoom: 1;
}
.container__big:after {
  content: " ";
  display: table;
  clear: both;
}

.container {
  width: 76.6%;
  max-width: 1974px;
  margin: 0 auto;
  *zoom: 1;
}
.container:after {
  content: " ";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1860px) {
  .container {
    width: 90%;
  }
}

* {
  outline: none;
}
* ::-moz-selection {
  background-color: yellow;
  color: #52abf0;
}
* ::selection {
  background-color: yellow;
  color: #52abf0;
}
* ::-moz-selection {
  background-color: yellow;
  color: #52abf0;
}

a {
  text-decoration: none;
}

.out {
  min-height: 100%;
  height: auto;
  padding-top: 0;
}

@media only screen and (max-width: 767px) {
  .main__row {
    display: none;
  }
}

.main__header {
  *zoom: 1;
}
.main__header:after {
  content: " ";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1355px) {
  .main__header .btn-red.col-xl-0 {
    display: inline-block;
    float: left;
    margin-right: 20px;
  }
}
.main__header .search__blue_wrap {
  margin-right: 45px;
  float: left;
}
@media only screen and (max-width: 1485px) {
  .main__header .search__blue_wrap {
    margin-right: 10px;
    width: 200px;
  }
  .main__header .search__blue_wrap label {
    font-size: 15px;
  }
  .main__header .search__blue_wrap:hover .search__field {
    width: 200px;
  }
}
@media only screen and (max-width: 1015px) {
  .main__header .search__blue_wrap {
    margin: 0 100px;
  }
}
@media only screen and (max-width: 800px) {
  .main__header .search__blue_wrap {
    margin: 0 50px;
  }
}
@media only screen and (max-width: 700px) {
  .main__header .search__blue_wrap {
    margin: 0 15px 0 0;
  }
}
@media only screen and (max-width: 600px) {
  .main__header .search__blue_wrap {
    width: 50px;
  }
  .main__header .search__blue_wrap label {
    display: none;
  }
  .main__header .search__blue_wrap:focus .search__field, .main__header .search__blue_wrap:hover .search__field {
    width: 50px !important;
  }
  .main__header .search__blue_wrap:focus .search__field:-ms-input-placeholder, .main__header .search__blue_wrap:hover .search__field:-ms-input-placeholder {
    color: transparent;
  }
  .main__header .search__blue_wrap:focus .search__field::-moz-placeholder, .main__header .search__blue_wrap:hover .search__field::-moz-placeholder {
    color: transparent;
  }
  .main__header .search__blue_wrap:focus .search__field::-webkit-input-placeholder, .main__header .search__blue_wrap:hover .search__field::-webkit-input-placeholder {
    color: transparent;
  }
  .main__header .search__blue_wrap:focus .search__field::placeholder, .main__header .search__blue_wrap:hover .search__field::placeholder {
    color: transparent;
  }
}
.main__header .btn-red {
  float: right;
  margin-top: 15px;
}
@media only screen and (max-width: 1485px) {
  .main__header .btn-red {
    padding: 0 15px;
    float: none;
  }
}

.closed__block {
  background-color: #FFF;
  position: relative;
  padding: 35px 25px 15px 30px;
  box-sizing: border-box;
  *zoom: 1;
}
.closed__block:after {
  content: " ";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1355px) {
  .closed__block {
    display: none;
  }
}
.closed__block .filter__check {
  display: inline-block;
  vertical-align: middle;
  width: 36%;
  min-width: 316px;
}

@media only screen and (max-width: 1485px) {
  .closed__filter .radio {
    margin-right: 15px;
  }
}

.closed__filter_row {
  height: 55px;
  margin: 3px 0;
  *zoom: 1;
}
.closed__filter_row:after {
  content: " ";
  display: table;
  clear: both;
}

.filter__choose {
  display: inline-block;
  width: 63%;
}
@media only screen and (max-width: 1490px) {
  .filter__choose {
    width: 60%;
  }
}

.input-row__field {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
  margin-top: -3px;
  *zoom: 1;
}
.input-row__field:after {
  content: " ";
  display: table;
  clear: both;
}

.select {
  position: relative;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  z-index: 20;
}

.select__text {
  position: relative;
  display: block;
  height: 34px;
  line-height: 34px;
  padding: 0 20px;
  font-size: 16px;
  border: 1px solid #e8ecef;
  background: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.select__text:before {
  content: "";
  position: absolute;
  top: 15px;
  right: 10px;
  background-image: url("../img/icons.png");
  width: 12px;
  height: 7px;
  background-position: -189px -103px;
}

.select__list {
  position: absolute;
  display: none;
  width: 100%;
  left: 1px;
  right: 1px;
  top: 34px;
  z-index: 100;
  background: #fff;
}

.select__list li {
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  padding: 0 20px;
  cursor: pointer;
  transition: background 0.2s linear;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.select__list li:hover {
  background-color: #ccc;
}
.select__list li h4 {
  text-align: center;
}
.select__list li span {
  font-size: 13px;
  margin-left: 14px;
}

.filder__input_wrap {
  width: 39%;
  display: inline-block;
  vertical-align: top;
  padding-top: 1px;
  margin-right: 20px;
  *zoom: 1;
}
.filder__input_wrap:after {
  content: " ";
  display: table;
  clear: both;
}
.filder__input_wrap input {
  width: 49%;
  height: 54px;
  border: 1px solid #E8ECEF;
  padding: 0 20px;
  color: #23252a;
  font-size: 18px;
}
.filder__input_wrap input:-ms-input-placeholder {
  color: #23252a;
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.filder__input_wrap input::-moz-placeholder {
  color: #23252a;
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.filder__input_wrap input::-webkit-input-placeholder {
  color: #23252a;
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.filder__input_wrap input::placeholder {
  color: #23252a;
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}

.filter__btn_wrap {
  float: right;
  position: relative;
  margin-top: 5px;
}
.filter__btn_wrap .btn-transparent {
  position: absolute;
  bottom: -20px;
  left: 0;
}

.sort {
  height: 70px;
  *zoom: 1;
}
.sort:after {
  content: " ";
  display: table;
  clear: both;
}
.sort p {
  float: left;
  margin-right: 20px;
  line-height: 70px;
  font-size: 14px;
  color: #a1a5aa;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
@media only screen and (max-width: 340px) {
  .sort p {
    margin-right: 0;
  }
}
.sort .sort__item {
  position: relative;
  float: left;
}
@media only screen and (max-width: 1150px) {
  .sort .sort__item {
    display: none;
  }
}
.sort .sort__item li,
.sort .sort__item a {
  font-size: 14px;
  line-height: 70px;
  color: #a1a5aa;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.sort .sort__item li {
  margin-right: 20px;
  float: left;
}
.sort .sort__item li.show {
  display: block;
  background-color: #FFF;
  padding: 0 20px;
}
.sort .sort__item li.is_active {
  position: relative;
}
.sort .sort__item li.is_active a {
  color: #23252a;
}
.sort .sort__item li a {
  color: #52abf0;
}
.sort .sort__item li a:hover {
  color: #eb6c96;
}
.sort .input-row__field {
  display: none;
  margin-top: 20px;
  width: calc(100% - 102px);
  float: right;
}
@media only screen and (max-width: 1150px) {
  .sort .input-row__field {
    display: inline-block;
  }
}
@media only screen and (max-width: 340px) {
  .sort .input-row__field {
    width: calc(100% - 90px);
  }
}
@media only screen and (max-width: 380px) {
  .sort .input-row__field li,
  .sort .input-row__field span {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 360px) {
  .sort .input-row__field li,
  .sort .input-row__field span {
    font-size: 14px;
  }
}

.clothes {
  float: left;
  width: 32.6%;
  margin-right: 1%;
  margin-bottom: 10px;
  background-color: #FFF;
  *zoom: 1;
}
.clothes:after {
  content: " ";
  display: table;
  clear: both;
}
.clothes:nth-child(3n) {
  margin-right: 0;
}
@media only screen and (max-width: 767px) {
  .clothes {
    width: 49%;
  }
  .clothes:nth-child(3n) {
    margin-right: 1%;
  }
  .clothes:nth-child(4n) {
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 650px) {
  .clothes {
    width: 100%;
    margin-right: 0;
  }
}
.clothes__img {
  position: relative;
  width: 100%;
  height: 190px;
  text-align: center;
}
.clothes__img img {
  max-width: 100%;
  max-height: 100%;
  margin: 95px auto 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.clothes__img i {
  position: absolute;
  top: 10px;
  right: 15px;
}
.clothes__name {
  padding: 25px 40px 20px;
  border-bottom: 1px solid #dfe5e7;
}
.clothes__name p {
  text-align: left;
  font-size: 18px;
  color: #23252a;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.clothes__footer {
  *zoom: 1;
}
.clothes__footer:after {
  content: " ";
  display: table;
  clear: both;
}
.clothes__price {
  float: left;
  width: 50%;
  height: 75px;
  line-height: 75px;
  text-align: center;
  border-right: 1px solid #dfe5e7;
}
.clothes__price strong {
  font-size: 18px;
  color: #23252a;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
}
.clothes__price span {
  font-size: 14px;
  color: #23252a;
  margin-left: 3px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.clothes__from {
  float: left;
  width: 50%;
  text-align: left;
  padding: 0 20px 0 30px;
}
.clothes__from p {
  margin-top: 37px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.clothes__from span {
  font-size: 14px;
  color: #84868D;
  margin-right: 5px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}

aside {
  float: left;
  width: 24%;
  min-width: 319px;
  margin-right: 1%;
  *zoom: 1;
}
aside:after {
  content: " ";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1240px) {
  aside {
    min-width: 260px;
  }
}
@media only screen and (max-width: 1015px) {
  aside {
    display: none;
  }
}

.sidebox {
  float: left;
  width: 100%;
  border-radius: 5px;
  padding: 40px 40px 50px;
  background-color: #FFF;
  margin-bottom: 15px;
  *zoom: 1;
}
.sidebox:last-child {
  margin-bottom: 0;
}
.sidebox:after {
  content: " ";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1580px) {
  .sidebox {
    padding: 40px 25px 50px;
  }
}

.sidebox__short {
  background-color: #fff;
  float: left;
  width: 100%;
  padding: 35px 40px;
  border-top: 1px solid #AFB7BF;
  *zoom: 1;
}
.sidebox__short:after {
  content: " ";
  display: table;
  clear: both;
}
.sidebox__short p {
  color: #AFB7BF;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.sidebox__short p span {
  color: #52abf0;
}

.tab__box a {
  display: block;
  font-size: 16px;
  color: #151515;
  margin-left: 40px;
  margin-bottom: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  transition: 0.3s;
}
.tab__box a:hover {
  color: #eb6c96;
}
.tab__box a.is_active {
  color: #eb6c96;
}

.seller {
  margin-bottom: 60px;
  *zoom: 1;
}
.seller:after {
  content: " ";
  display: table;
  clear: both;
}
.seller__img {
  position: relative;
  float: left;
  width: 38px;
  height: 38px;
  margin-right: 15px;
  vertical-align: top;
}
.seller__img:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #eb6c96;
}
.seller__img img {
  max-width: 100%;
  vertical-align: top;
}
.seller__text strong {
  vertical-align: top;
  line-height: 1;
  display: block;
  color: #52abf0;
  font-size: 18px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
}
.seller__text p {
  vertical-align: top;
  font-size: 14px;
  color: #23252a;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}

.telephone {
  position: relative;
  margin: 0 0 20px 20%;
  *zoom: 1;
}
.telephone:after {
  content: " ";
  display: table;
  clear: both;
}
.telephone i {
  position: absolute;
  top: 2px;
  left: -20%;
  background-image: url("../img/icons.png");
  width: 21px;
  height: 20px;
  background-position: -189px 0px;
}
.telephone a {
  display: block;
  color: #23252a;
  font-size: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 600;
}
.telephone a span {
  font-size: 20px;
  color: #CDD2D5;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.telephone .more__phone {
  background-color: transparent;
  color: #eb6c96;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
}
.telephone .more__phone:hover {
  color: #52abf0;
}

.town {
  position: relative;
  margin-bottom: 10px;
  margin-left: 20%;
  *zoom: 1;
}
.town:after {
  content: " ";
  display: table;
  clear: both;
}
.town .icon-locate {
  position: absolute;
  top: 5px;
  left: -20%;
}
.town strong {
  display: block;
  font-size: 18px;
  color: #23252a;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.town span {
  font-size: 14px;
  color: #AFB7BF;
  margin-left: 7px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
}

.footer {
  *zoom: 1;
}
.footer:after {
  content: " ";
  display: table;
  clear: both;
}
.footer .logo {
  margin-bottom: 35px;
}
.footer .logo h2 {
  line-height: 1;
  font-size: 22px;
}
@media only screen and (max-width: 750px) {
  .footer .logo h2 {
    font-size: 36px;
  }
}
.footer .title__14 {
  vertical-align: top;
  margin-bottom: 35px;
}
@media only screen and (max-width: 750px) {
  .footer .title__14 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 22px;
  }
}

.footer__top {
  background-color: #FAFBFC;
  padding: 70px 0;
  *zoom: 1;
}
.footer__top:after {
  content: " ";
  display: table;
  clear: both;
}

.footer__list {
  font-size: 0;
}
.footer__list li {
  margin-bottom: 15px;
}
.footer__list a {
  vertical-align: middle;
  color: #7E828A;
  font-size: 16px;
  line-height: 1.2;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  transition: 0.3s;
}
@media only screen and (max-width: 750px) {
  .footer__list a {
    font-size: 25px;
  }
}
.footer__list a:hover {
  color: #eb6c96;
}

.footer__botom {
  background-color: #EEF1F4;
  padding: 100px 0 55px;
  *zoom: 1;
}
.footer__botom:after {
  content: " ";
  display: table;
  clear: both;
}
@media only screen and (max-width: 750px) {
  .footer__botom {
    padding: 50px 0 20px;
  }
}
.footer__botom p {
  margin-top: 20px;
  font-size: 12px;
  color: #7F878F;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
}
@media only screen and (max-width: 750px) {
  .footer__botom p {
    text-align: left;
    font-size: 19px;
  }
}

@media only screen and (max-width: 750px) {
  .footer__botom_link {
    text-align: left;
  }
}
.footer__botom_link a {
  font-size: 14px;
  color: #23252a;
  margin-right: 35px;
  white-space: nowrap;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 600;
}
.footer__botom_link a:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 750px) {
  .footer__botom_link a {
    font-size: 22px;
  }
}
@media only screen and (max-width: 455px) {
  .footer__botom_link a {
    display: block;
    width: 100%;
  }
}

.footer__socio {
  margin-top: 35px;
}
.footer__socio a:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 750px) {
  .footer__socio {
    text-align: left;
  }
}

.header {
  position: relative;
  background-color: #FFF;
  *zoom: 1;
}
.header:after {
  content: " ";
  display: table;
  clear: both;
}

.header__top {
  position: relative;
  height: 100px;
}

.logo {
  display: inline-block;
}
.logo h1,
.logo h2 {
  font-family: "avantgardegothiccbold", Arial, sans-serif;
  color: #f35;
  font-size: 27px;
  text-transform: lowercase;
  color: #52abf0;
  line-height: 100px;
}
@media only screen and (max-width: 360px) {
  .logo h1,
  .logo h2 {
    font-size: 24px;
  }
}
.logo h1 span,
.logo h2 span {
  font-family: Arial, sans-serif;
  color: #eb6c96;
}

.header__top_nav {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header__top_nav a {
  position: relative;
  font-size: 22px;
  line-height: 100px;
  margin-right: 50px;
  padding-left: 60px;
  color: #23252A;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  transition: 0.3s;
}
.header__top_nav a:hover {
  opacity: 0.7;
  color: #eb6c96;
}
@media only screen and (max-width: 1260px) {
  .header__top_nav a {
    margin-right: 30px;
    padding-left: 45px;
  }
}
@media only screen and (max-width: 1150px) {
  .header__top_nav a {
    margin-right: 10px;
  }
}
.header__top_nav a i {
  position: absolute;
  top: -10px;
  left: 0px;
}

.header__user {
  float: right;
  margin-top: 20px;
}

.user__massege {
  margin-top: 20px;
  background-image: url("../img/icons.png");
  width: 24px;
  height: 27px;
  background-position: -59px -149px;
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
}
.user__massege:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 1150px) {
  .user__massege {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 478px) {
  .user__massege {
    display: none !important;
  }
}

.user__bell {
  margin-top: 20px;
  background-image: url("../img/icons.png");
  width: 25px;
  height: 28px;
  background-position: -30px -149px;
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
}
.user__bell:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 1150px) {
  .user__bell {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 478px) {
  .user__bell {
    display: none !important;
  }
}

.user__menu {
  position: relative;
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
}
.user__menu:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 1150px) {
  .user__menu {
    margin-right: 20px;
  }
}
.user__menu:after {
  content: "";
  position: absolute;
  top: 25px;
  right: -15px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
}
@media only screen and (max-width: 700px) {
  .user__menu:after {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .user__menu {
    margin-top: 7px;
    margin-right: 5px;
  }
}
.user__menu span {
  display: none;
}
@media only screen and (max-width: 478px) {
  .user__menu span {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 2px;
    padding: 0 7px;
    color: #FFF;
    text-align: center;
    background-color: #eb6c96;
    border-radius: 100%;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    z-index: 5;
  }
}

.user__img {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-right: 15px;
}
@media only screen and (max-width: 350px) {
  .user__img {
    width: 50px;
    height: 50px;
  }
}
.user__img img {
  max-width: 100%;
  vertical-align: top;
}

.header__bottom {
  background-color: #FAFBFC;
  *zoom: 1;
}
.header__bottom:after {
  content: " ";
  display: table;
  clear: both;
}
@media only screen and (max-width: 750px) {
  .header__bottom {
    display: none;
  }
}

.header__menu {
  float: left;
  font-size: 0;
  *zoom: 1;
}
.header__menu:after {
  content: " ";
  display: table;
  clear: both;
}
.header__menu li {
  display: inline-block;
  border-bottom: 3px solid transparent;
}
.header__menu li:hover {
  border-bottom: 3px solid #eb6c96;
}
.header__menu li:first-child a {
  padding-left: 0;
}
.header__menu a {
  display: block;
  font-size: 16px;
  color: #23252a;
  line-height: 65px;
  padding: 0 15px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
}
@media only screen and (max-width: 900px) {
  .header__menu a {
    padding: 0 7px;
  }
}

.breadcrumbs {
  padding-top: 1px;
  border-bottom: 1px solid #e8ecf0;
  margin-bottom: 50px !important;
}
.breadcrumbs a {
  display: inline-block;
  vertical-align: top;
  position: relative;
  color: #23252A;
  font-size: 14px;
  line-height: 65px;
  margin-right: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.breadcrumbs a.is_active {
  color: #B1B8BC;
}
.breadcrumbs a:hover {
  color: #eb6c96;
}
.breadcrumbs .icon-right {
  vertical-align: middle;
  margin-left: 15px;
}

.icon-ledy {
  display: inline-block;
  background-image: url("../img/icons.png");
  width: 32px;
  height: 50px;
  background-position: -44px -64px;
}

.icon-mom {
  display: inline-block;
  background-image: url("../img/icons.png");
  width: 27px;
  height: 49px;
  background-position: -134px -33px;
}

.icon-chield {
  display: inline-block;
  background-image: url("../img/icons.png");
  width: 40px;
  height: 50px;
  background-position: 0px -64px;
}

.footer-vk {
  display: inline-block;
  background-image: url("../img/icons.png");
  width: 28px;
  height: 27px;
  background-position: -134px -86px;
}

.footer-f {
  display: inline-block;
  background-image: url("../img/icons.png");
  width: 28px;
  height: 27px;
  background-position: 0px -118px;
}

.icon-menu {
  display: inline-block;
  background-image: url("../img/icons.png");
  width: 51px;
  height: 29px;
  background-position: -134px 0px;
}

.icon-right {
  display: inline-block;
  background-image: url("../img/icons.png");
  width: 26px;
  height: 26px;
  background-position: -153px -118px;
}

.icon-top {
  display: inline-block;
  background-image: url("../img/icons.png");
  width: 26px;
  height: 26px;
  background-position: -63px -118px;
}

.btn-close {
  display: inline-block;
  background-image: url("../img/icons.png");
  width: 14px;
  height: 14px;
  background-position: -189px -72px;
}

.bird1 {
  display: inline-block;
  background-image: url("../img/icons.png");
  width: 12px;
  height: 7px;
  background-position: -189px -103px;
}

.icon-star {
  display: inline-block;
  background-image: url("../img/icons.png");
  width: 27px;
  height: 26px;
  background-position: -32px -118px;
}

.icon-post {
  display: inline-block;
  background-image: url("../img/icons.png");
  width: 25px;
  height: 11px;
  background-position: -122px -149px;
}

.icon-next {
  display: inline-block;
  background-image: url("../img/icons.png");
  width: 26px;
  height: 26px;
  background-position: -123px -118px;
}

.icon-prev {
  display: inline-block;
  background-image: url("../img/icons.png");
  width: 26px;
  height: 26px;
  background-position: -93px -118px;
}

.icon-bottom {
  display: inline-block;
  background-image: url("../img/icons.png");
  width: 39px;
  height: 39px;
  background-position: -80px -64px;
}

.icon-tel {
  display: inline-block;
  background-image: url("../img/icons.png");
  width: 21px;
  height: 20px;
  background-position: -189px 0px;
}

.icon-locate {
  display: inline-block;
  background-image: url("../img/icons.png");
  width: 15px;
  height: 21px;
  background-position: -189px -47px;
}

.icon-menu {
  background-color: transparent;
  float: right;
  vertical-align: middle;
  margin-top: 20px;
  display: none;
}
@media only screen and (max-width: 700px) {
  .icon-menu {
    display: block;
  }
}
.icon-menu:hover {
  opacity: 0.6;
}

.icon-top {
  vertical-align: top;
}

@media only screen and (max-width: 750px) {
  .footer-f {
    margin-right: 5px;
    background-image: url("../img/icons.png");
    width: 63px;
    height: 60px;
    background-position: 0px 0px;
  }
}

@media only screen and (max-width: 750px) {
  .footer-vk {
    background-image: url("../img/icons.png");
    width: 63px;
    height: 60px;
    background-position: -67px 0px;
  }
}

.title__14 {
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
}

.title__side {
  font-size: 30px;
  color: #23252a;
  margin-bottom: 25px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}

.tab__title {
  display: block;
  font-size: 18px;
  color: #23252a;
  margin-bottom: 15px;
  letter-spacing: -0.25px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  transition: 0.2s;
}
.tab__title i {
  margin-right: 15px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: 0.2s;
}
.tab__title.is-open {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 600;
}
.tab__title.is-open i {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.title__main {
  display: inline-block;
  font-size: 36px;
  color: #23252a;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
}

.main__header .title__main {
  margin: 0 10px 15px 35px;
}

.btn {
  height: 40px;
  padding: 0 30px;
  background-color: transparent;
  border-radius: 40px;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  transition: 0.2s;
}
.btn:active {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6) inset;
}

.btn-red {
  color: #eb6c96;
  border: 1px solid #eb6c96;
}
.btn-red:hover {
  background-color: #eb6c96;
  color: #FFF;
}
.btn-red:active {
  background-color: #eb6c96;
  color: #FFF;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6) inset;
}

.btn-blue {
  color: #52abf0;
  border: 1px solid #52abf0;
}
.btn-blue:hover {
  background-color: #52abf0;
  color: #FFF;
}
.btn-blue:active {
  background-color: #52abf0;
  color: #FFF;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6) inset;
}

.btn__blue_bg {
  background-color: #52abf0;
  font-size: 20px;
  color: #FFF;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.btn__blue_bg:hover {
  color: #eb6c96;
}
@media only screen and (max-width: 1520px) {
  .btn__blue_bg {
    font-size: 16px;
  }
}

.btn-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background-image: url("../img/icons.png");
  width: 14px;
  height: 14px;
  background-position: -189px -72px;
  background-color: transparent;
}

.btn-transparent {
  background-color: transparent;
  color: #98A4A8;
  font-size: 12px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.btn-transparent:hover {
  color: #eb6c96;
}

.btn-plus {
  line-height: 75px;
  height: 75px;
  color: #FFF;
  background-color: #eb6c96;
  font-size: 48px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 600;
}

.clear {
  height: 0;
  display: table;
  clear: both;
}

.col-xl-0 {
  display: none;
}

.col-xl-4 {
  width: 25%;
  float: left;
  padding-right: 10px;
  box-sizing: border-box;
}

@media only screen and (max-width: 950px) {
  .col-x-0 {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  .col-x-12 {
    display: inline-block;
  }
}

@media only screen and (max-width: 750px) {
  .col-m-0 {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .col-m-1 {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .col-m-2 {
    display: block;
    width: 50%;
    float: left;
  }
}

.center {
  margin: 0 auto;
  text-align: center;
}

.js-accordeon-post {
  display: none;
}

.main {
  width: 75%;
  float: left;
  *zoom: 1;
}
.main:after {
  content: " ";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1485px) {
  .main {
    width: 72%;
  }
}
@media only screen and (max-width: 1350px) {
  .main {
    width: 70%;
  }
}
@media only screen and (max-width: 1015px) {
  .main {
    width: 100%;
  }
}
@media only screen and (max-width: 1355px) {
  .main .search__blue {
    float: left;
    margin-left: 30px;
    width: 100%;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 700px) {
  .main .search__blue {
    width: 100%;
    margin: 10px 0 0;
  }
}
@media only screen and (max-width: 1355px) {
  .main .title__main {
    width: 95%;
  }
}
@media only screen and (max-width: 700px) {
  .main .title__main {
    width: 100%;
    margin: 0 0 15px;
  }
}

.search__blue_wrap {
  position: relative;
  width: 240px;
  *zoom: 1;
}
.search__blue_wrap:after {
  content: " ";
  display: table;
  clear: both;
}
@media only screen and (max-width: 800px) {
  .search__blue_wrap {
    width: 190px;
  }
}
.search__blue_wrap:hover .search__field {
  width: 240px;
}
.search__blue_wrap:hover .search__field:-ms-input-placeholder {
  color: #fff;
}
.search__blue_wrap:hover .search__field::-moz-placeholder {
  color: #fff;
}
.search__blue_wrap:hover .search__field::-webkit-input-placeholder {
  color: #fff;
}
.search__blue_wrap:hover .search__field::placeholder {
  color: #fff;
}
@media only screen and (max-width: 800px) {
  .search__blue_wrap:hover .search__field {
    width: 190px;
  }
}
.search__blue_wrap:hover label {
  opacity: 0;
  transition: 0.3s;
}

.search__blue {
  position: relative;
  float: right;
  height: 65px;
}
.search__blue label {
  position: absolute;
  left: 10px;
  display: inline-block;
  font-size: 18px;
  color: #23252a;
  line-height: 65px;
  margin-right: 30px;
  vertical-align: top;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  z-index: 1;
}
@media only screen and (max-width: 900px) {
  .search__blue label {
    margin-right: 15px;
  }
}
.search__blue .search__field {
  position: relative;
  float: right;
  padding: 0 15px;
  vertical-align: top;
  margin-top: 18px;
  width: 50px;
  height: 34px;
  background-color: #52abf0;
  border-radius: 34px;
  color: #fff;
  z-index: 5;
  transition: 0.5s;
}
.search__blue .search__field:-ms-input-placeholder {
  color: transparent;
}
.search__blue .search__field::-moz-placeholder {
  color: transparent;
}
.search__blue .search__field::-webkit-input-placeholder {
  color: transparent;
}
.search__blue .search__field::placeholder {
  color: transparent;
}
.search__blue .search__field:focus {
  width: 240px;
}
@media only screen and (max-width: 800px) {
  .search__blue .search__field:focus {
    width: 190px;
  }
}
.search__blue .btn-search {
  position: absolute;
  top: 25px;
  right: 15px;
  background-image: url("../img/icons.png");
  width: 19px;
  height: 19px;
  background-position: -189px -24px;
  background-color: transparent;
  z-index: 10;
}
.search__blue .btn-search:hover + input {
  width: 200px;
}

.radio {
  display: inline-block;
  color: #8a93a3;
  position: relative;
  cursor: pointer;
  margin-right: 40px;
}
.radio:last-child {
  margin-right: 10px;
}
.radio input {
  position: absolute;
  left: 0;
  top: 4px;
  opacity: 0;
  z-index: 2;
}
.radio input:checked + span:before {
  background-color: #52abf0;
}
.radio input:checked + span:after {
  content: "";
  position: absolute;
  left: -33px;
  top: 8px;
  z-index: 12;
  background-image: url("../img/icons.png");
  width: 11px;
  height: 9px;
  background-position: -189px -90px;
}
.radio span {
  position: relative;
  display: inline-block;
  padding-left: 0px;
  margin: 0 0 5px 40px;
  font-size: 16px;
  color: #23252a;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.radio span:before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  background-color: #dfe5e7;
  width: 24px;
  height: 24px;
  z-index: 10;
}

.pager {
  margin: 120px 0 90px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  *zoom: 1;
}
.pager:after {
  content: " ";
  display: table;
  clear: both;
}

.pages__top {
  position: relative;
  *zoom: 1;
}
.pages__top:after {
  content: " ";
  display: table;
  clear: both;
}

.page {
  display: inline-block;
  font-size: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  *zoom: 1;
}
.page:after {
  content: " ";
  display: table;
  clear: both;
}
.page li {
  float: left;
  margin-right: -1px;
  line-height: 45px;
  height: 45px;
  border: 1px solid #d8dde2;
  border-radius: 5px;
}
.page a {
  font-size: 18px;
  color: #23252a;
  display: block;
  padding: 0 15px;
  transition: 0.3s;
}
.page a:hover, .page a.is_active {
  color: #eb6c96;
}

.page__prev,
.page__next {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  line-height: 45px;
  height: 45px;
  padding: 1px 20px 0;
  border: 1px solid #d8dde2;
  border-radius: 5px;
  box-sizing: border-box;
}
.page__prev:hover,
.page__next:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
}
.page__prev span,
.page__next span {
  float: right;
  color: #23252a;
  font-size: 18px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.page__prev i,
.page__next i {
  float: left;
  margin-top: 10px;
}

.page__prev {
  float: left;
}

.page__next {
  float: right;
}

.pager__input {
  margin: 25px auto 0;
  text-align: center;
  vertical-align: top;
}
.pager__input_wrap {
  display: inline-block;
  line-height: 45px;
  height: 45px;
  padding: 0 20px;
  border: 1px solid #d8dde2;
  border-radius: 5px;
  box-sizing: border-box;
}
.pager__input_wrap i {
  float: right;
  margin-top: 10px;
}

.page__number {
  background-color: transparent;
  font-size: 16px;
}
.page__number:-ms-input-placeholder {
  font-size: 14px;
  color: #23252a;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.page__number::-moz-placeholder {
  font-size: 14px;
  color: #23252a;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.page__number::-webkit-input-placeholder {
  font-size: 14px;
  color: #23252a;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}
.page__number::placeholder {
  font-size: 14px;
  color: #23252a;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
}

.categories {
  width: 100%;
  margin: 90px 0;
  *zoom: 1;
}
.categories:after {
  content: " ";
  display: table;
  clear: both;
}

.category {
  width: 25%;
  float: left;
  padding-right: 15px;
  box-sizing: border-box;
}
@media only screen and (max-width: 900px) {
  .category {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .category {
    width: 100%;
  }
}
.category a:hover {
  color: #52abf0;
}
.category a.is_active {
  color: #52abf0;
}



/*# sourceMappingURL=screen.css.map */
